{% extends "base.html" %}
{% load markup utils %}
{% load url from future %}

{% block title %}analytics: {{ stat.0 }}{% endblock %}

{% block body_class %}{{ block.super }} analytics{% endblock %}
{% block nav_link %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  {% if user.is_authenticated %}
    <li><a href="{% url 'youraliss' %}">logged in as: {{ user.username }}</a></li>
  {% endif %}
    <li><a href="{% url 'analytics' %}">analytics</a></li>
    <li class= "current"><a href="#">{{ stat.0 }}</a></li>
</ul>
{% endblock %}

{% block content %}
<style type="text/css">
li h3 {
  font-size: 90%;
  padding: 7px;
  color: white;
  margin: 0;
  //width: 20%;
  float: left;
}
li p {
  margin: 0;
  padding: 0;
}
.chart div, .barholder {
  font: 90% sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 7px;
  margin: 0px;
  //margin-left: 25%;
  color: white;
}
</style>



<h1>{{ stat.0 }}</h1>

<div id="bars" class="chart"></div>
  <ul>
    {% for obj in objects  %}
      <li>
      <h3>{{ obj.0|truncatechars:40 }}</h3>
      <p class="barholder" style="width: {% chartbar obj.1 maxw 60 20 %}%">{{ obj.1 }}</p>
      </li>
    {% empty %}
      <li>no data</li>
    {% endfor %}
  </ul>

{% endblock %}

{% comment %}

{% block script-extra %}
<script type='text/javascript' src='/static/js/d3.v2.min.js'></script>
{% endblock script-extra %}

{% block document-ready %}

// var data = [4, 8, 15, 16, 23, 42];

// var x = d3.scale.linear()
//   .domain([0, d3.max(data)])
//   .range(["0px", "30%"]);

// var chart = d3.select("#bars")

// chart.selectAll("div")
//     .data(data)
//     .enter().append("div")
//     .style("width", x)
//     .text(function(d) { return d; });

// var chart = d3.select('#bars2')

// chart.selectAll("div")
//     .data(data)
//     .enter().append("div").append("div")
//     .style("width", x)
//     .text(function(d) { return d; });

// $(".barholder").attr('style', 'width: 42%').text('42');
//$("td.holder").append('<div style="width: 42%">42</div>');
//.attr('style', 'width: 42%').text('42');

{% endblock %}

{% endcomment %}
