{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}


{% block content %}

<p>&nbsp;</p>

<h3>{% trans 'Password reset successful' %}</h3>

<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>

<p>We've had some problems with emails being blocked as spam by some service providers- 
	Hotmail seems particularly bad. 
	If your email doesn't appear soon, you can <a href="/password_reset/">try again</a>, or <a href="/contact/">contact us</a> and we'll sort the problem.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
