{% extends "base.html" %}
{% load i18n %}

{% block title %}Reset your password{% endblock %}

{% block content %}

<h1>Reset your password</h1>

<p>Forgotten your password?</p>
<p>Enter your e-mail address below, and we'll send a link to create a new password to you.<br>
You will also get a reminder of your user name in the email, so if you can't remember it either, just use this form.</p>
<p>Be sure to enter the same e-mail address you used to register.</p>

<form class="nice" method="post">{% csrf_token %}
    
    <fieldset>
        <legend><span>{% trans 'Enter your email address' %}</span></legend>
        
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}<small class="error">{{ field.errors|join:", " }}</small>{% endif %}
        {% endfor %}

        <input id="id_submit" type="submit" value="Reset password" />
    </fieldset>

</form>

{% endblock %}