{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

    <h1>{% trans 'Enter new password' %}</h1>
    
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    
    <form method="post">{% csrf_token %}
    
        <fieldset>
            <legend><span>{% trans 'Enter new password' %}</span></legend>
            <ol>{{ form.as_ul }}</ol>
        </fieldset>
    
        <fieldset class="submit">
            <input type="submit" value="{% trans 'Change my password' %}" />
        </fieldset>
    
    </form>

{% else %}

    <h1>{% trans 'Password reset unsuccessful' %}</h1>
    
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

{% endif %}

{% endblock %}
