{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form class="nice" method="post">{% csrf_token %}

    <fieldset>
        <legend><span>{% trans 'Password change' %}</span></legend>
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}<small class="error">{{ field.errors|join:", " }}</small>{% endif %}
        {% endfor %}

        <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
    </fieldset>

</form>

{% endblock %}



