{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

    <h1>{% trans 'Enter new password' %}</h1>
    
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    
    <form class="nice form" method="post">{% csrf_token %}
    
        <fieldset>
            <legend><span>{% trans 'Enter new password' %}</span></legend>

            {% for field in form %}
                
                <label for="id_{{ field.name }}">{{ field.label }}</label>
                <input id="id_{{ field.name }}" class="input-text large" type="password" maxlength="75" value="{{ field.value|default:'' }}" name="{{ field.name }}">
                {% if field.errors %}<small class="error">{{ field.errors|join:", " }}</small>{% endif %}

            {% endfor %}

            <input type="submit" value="{% trans 'Change my password' %}" />
        </fieldset>
    
    </form>

{% else %}

    <h1>{% trans 'Password reset unsuccessful' %}</h1>
    
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

{% endif %}

{% endblock %}
