*.pyc
settings_local.py
ecengine/engineclub
/.Python
/bin
/include
/lib
/engineclubdb
/build
/src
/engineclub/apps/depot/fixtures/working.txt
/engineclub/apps/ecutils/geonames
/engineclub/apps/firebox/sources
/engineclub/test_db
/engineclub/blah.json
/engineclub/compass/css
.sass-cache
/engineclub/compass/src/_forms.old.scss
/engineclub/dump/
/sql_data/dump.sql
/mongo_data/dump/
/mongo_data/aliss_dump.tgz
.DS_Store
/engineclub/static/admin
/engineclub/static/css
/engineclub/static/js
/engineclub/static/media
/engineclub/static/verticaltabs
/engineclub/static/favicon.ico
sql_data/dump.tgz
engineclub/media/