*.pyc
settings_local.py
ecengine/engineclub
/.Python
/bin
/include
/lib
/engineclub/engineclubdb
/build
/src
/engineclub/apps/depot/fixtures/working.txt
/engineclub/apps/ecutils/geonames
/engineclub/apps/firebox/sources
/engineclub/test_db
/engineclub/blah.json
/engineclub/compass/.sass-cache
/engineclub/compass/css
.sass-cache
/engineclub/compass/src/.sass-cache