Django==1.4

textile
Markdown
docutils
python-dateutil==1.5
PIL
psycopg2
flup

-e git+git://github.com/snowcloud/django-sitedown.git#egg=django-sitedown
-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration

-e git+git://github.com/jsocol/bleach.git#egg=bleach
beautifulsoup
feedparser
requests
httpagentparser

# mongo stuff
pymongo==2.2
mongoengine==0.6.10

# reqd by mongoengine and not in python 2.5
# multiprocessing

# git://github.com/toastdriven/django-tastypie.git

pysolr
# lxml
python-googlegeocoder

redis>=2.4,<2.5

celery>=2.4,<2.5
django-celery>=2.4,<2.5
