Django>=1.2
textile
Markdown
docutils
python-dateutil==1.5
PIL
# psycopg2

-e git+git://github.com/snowcloud/engine-groups.git#egg=engine-groups
-e git+git://github.com/snowcloud/django-sitedown.git#egg=django-sitedown
-e git://github.com/stephrdev/django-mongoforms.git#egg=django_mongoforms
-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
# -e hg+http://bitbucket.org/offline/django-annoying/#egg=django-annoying
-e git+git://github.com/jsocol/bleach.git#egg=bleach
beautifulsoup
feedparser

# python-placemaker forked to add setup.py
-e git+git://github.com/snowcloud/python-placemaker.git#egg=placemaker

# mongo stuff
pymongo>=1.9
mongoengine
# reqd by mongoengine and not in python 2.5
multiprocessing

# git://github.com/toastdriven/django-tastypie.git

pysolr
# lxml
