Django>=1.2
textile
Markdown
docutils
PIL==1.1.7
psycopg2


-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
beautifulsoup

# python-placemaker has no setup.py so can't be installed
# -e git+git://github.com/bycoffe/python-placemaker.git#egg=placemaker
# this is just a single py file, copied it manually into site-packages
# could do in fabric?


# mongo stuff
pymongo>=1.9
mongoengine
# reqd by mongoengine and not in python 2.5
multiprocessing
