/* 
CSS3 + vendor-specific styles

-webkit	 	Safari
-moz 	 	Firefox
*/

/* fadetastic links
--------------------------------------------- */

a:link, a:visited {
	-webkit-transition: color .2s linear;
	}
a:hover {
	color: rgba(21,58,10,.8);
	}
