{% extends "base.html" %}
{% load rss_tags %}
{% block title %}Home{% endblock %}
{% block head-extra %}
    <script type="text/javascript" src="/static/verticaltabs/js/verticaltabs.js"></script>
    <link rel="stylesheet" href="/static/css/verticaltabs.css" />
{% endblock head-extra %}
{% block document-ready %}
    $("#textExample").verticaltabs({slideShow: false, speed: 500, activeIndex: 0});
{% endblock %}

{% block pageintro %}
<div id="pageintro">
<h1>Better information for self&nbsp;management</h1>

<p>About 40% of the Scottish population live with a long term health condition, such as heart disease, epilepsy, arthritis and chronic pain- conditions that have an impact on just about every aspect of daily life. &nbsp;<a href="/about/">Learn&nbsp;more&nbsp;»</a></p>
</div>
{%endblock%}

{% block content %}

    <!-- Text Example -->
	<div class="verticalslider group" id="textExample">
        <ul class="verticalslider_tabs">
            <li><a href="#">What's the problem?</a></li>
            <li><a href="#">What is the ALISS project and how will it help?</a></li>
            <li><a href="#">How will the ALISS Engine work?</a></li>
            <li><a href="#">How will we discover and collect resources?</a></li>                        
            <li><a href="#">How will we moderate and sort resources?</a></li>                        
            <li><a href="#">How will we make resources available?</a></li>                        
        </ul>
        <ul class="verticalslider_contents">
            <li style="display: list-item;">
            <h2>What's the problem?</h2>
            {% comment %}
            <div class="media"><a href="http://vimeo.com/11986849">Watch the ALISS Engine screencast.</a></div>
            {% endcomment %}
            <p>About 40% of the Scottish population live with a long term health condition. That’s around 2 million people and the numbers are rising. Conditions such as heart disease, epilepsy, arthritis and chronic pain have an impact on just about every aspect of daily life – looking after a family, studying, holding down a job or keeping up with friends.</p>
            <p>An important part of helping people to live well with their condition is enabling them to manage their own health. Self Management is a person-centred approach to better health and wellbeing, providing the tools, activities and information they need to manage their condition effectively and live a full life. To be confident and successful self managers, people require support and advice. Self Management support is usually provided close to home, sometimes by people who have been through similar experiences. You’ll often find good examples of support on your community centre or library notice board.</p>
            <p>But it’s difficult to find on the web...</p>
            </li>
            <li>
            <h2>What is the ALISS project and how will it help?</h2>
            <p>The ALISS project is a Scottish Government funded venture. It has many interests and activities but it's main focus is to make information about Self Management support more findable. You can find out more here( link to blog for the moment) </p>

            <p>A key part of the ALISS project has been the development of the ALISS Engine which will link up current data and new contributions – including those from people living with long term conditions – to make a richer set of information about local self management support, openly available to all. We’re working towards a new national set of links can be used by everyone to provide better, more tailored local information and create new self management information services.</p>
            </li>
            <li>
            <h2>How will the ALISS Engine work?</h2>
            <p></p>
            <p>In a nutshell, the Engine manages an online index of links. It’s the one place that information about self management resources can be brought together. Likewise, it’s the one place that those using this kind of data can find accurate and comprehensive information about health and wellbeing information. </p>
            <p>At the moment this information inside separate databases around Scotland. To find them we have to know where they are held in order to search for them. Once the Engine holds links to them, they’ll be in a single, open, searchable national collection of data. </p>
            <p>In addition to this:</p>
            <p>* the links can be included in searches on any website</p>
            <p>* we’ll make important connections between them and other useful information</p>
            <p>All in all, the Engine will make self management information more findable
            </li>
            <li>
            <h2>How will we discover and collect resources?</h2>
            <p>We’ve been working with those who already develop directory services to explore ways in which we can incorporate their data. We’re also developing tools with which all of us can contribute our ideas and suggestions. In this way we can learn from and share the experiences of those who live with long term conditions.</p>
            </li>
            <li>
            <h2>How will we moderate and sort resources?</h2>
            <p>-to do-</p>
            </li>
            <li>
            <h2>How will we make resources available?</h2>
            <p>-to do-</p>
            </li>
        </ul>
    </div> 

<div class="article-holder group">
<div class="article grid_4 alpha">
<h3>Blog</h3>
<p>The <a href="http://www.aliss.scot.nhs.uk/">ALISS project blog</a> is your first stop to get background on the project, news of current work, and find out about upcoming events.</p>
{% get_feed_items as items %}

<ul>
{% for item in items  %}
    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<div class="more-btn"><a href="http://www.aliss.scot.nhs.uk/">more...</a></div>

</div>

<div class="article grid_4 twitterlinks">
    <h3>Twitter</h3>
    
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 6000,
      width: 'auto',
      height: 300,
      theme: {
        shell: {
          background: '#ebeaed',
          color: '#eb410e'
        },
        tweets: {
          background: '#fcfcfc',
          color: '#030303',
          links: '#5f89bf'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: false,
        timestamp: false,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('alissproject').start();
    </script>
    
</div>

<div class="article grid_4 omega">
<h3>Engine</h3>

<p>At the moment, our demonstration searches require an account to log in. If you are involved in the ALISS project or related projects please <a href="/contact/">contact us</a> for a demo account. A screencast of a demonstration will be here within the next few days.</p>

<p>We have a very simple demonstration of a widget pulling in resources to the web site of the fictitious <a href="http://demo.aliss.org/gag/demo.html">Grampian Arthritis Group</a> showing the latest resources curated by that group via the ALISS.org.</p>

<p>If you want to find more technical details visit the <a href="http://engineclub.org">ALISS Engine Club</a>, where you can read documentation, specifications, and the code.</p>

<p>The ALISS engine uses open source software, and is published as open source software on <a href="http://github.com/snowcloud/engineclub">Github</a>.</p>
</div>

</div>

{%endblock%}
