{% extends "base.html" %}

{% block title %}engine admin{% endblock %}

{% block content %}

<h1>The Cab</h1>

<p><a href="{% url groups %}">Groups</a></p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
{% if user.is_superuser %}
<p><a href="{% url cab-reindex %}">reindex resources</a></p>
{% endif %}

{% comment %}
<p><a href="{% url cab-one-off-util %}">link curations to resources</a></p>
<!-- p><a href="{% url cab-fix-resource-accounts %}">fix resource accounts</a></p -->
{% endcomment %}


{% endblock %}