{% extends "base.html" %}

{% block title %}engine admin{% endblock %}

{% block content %}

<h1>The Cab</h1>

<p><a href="{% url groups %}">Groups</a></p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
{% if user.is_superuser %}
<ul>
    <li><a href="{% url cab-reindex %}">reindex resources</a></li>
    <li><a href="{% url show-curationless-resources %}">show-curationless-resources</a></li>
    <li><a href="{% url fix-curationless-resources %}">fix-curationless-resources</a></li>
    <li><a href="{% url cab-one-off-util %}">one off util</a></li>
    
    {% comment %}
    <!-- li><a href="{% url cab-fix-resource-accounts %}">fix resource accounts</a></li -->
    {% endcomment %}

</ul>
{% endif %}


{% endblock %}