{% extends "enginecab/base.html" %}

{% block title %}list- {{object.name}}{% endblock %}

{% block breadcrumb-add %}
    <li><a href="{% url cab_lists %}">Lists</a></li>
    <li class="current"><a href="#">{{object.name}}</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-lists %}active{% endblock %}


{% block module-content %}
	<h2>List: {{object.name}}</h2>

<!--  	<dl class="sub-nav">
	    <dt>Actions:</dt>
        <dd><a href="#">sdasdf</a></dd>
	</dl>
 -->

 	<h3>Member accounts</h3>

 	<ul class="disc">
	{% for member in object.accounts %}
		<li><a href="{% url cab_user_detail member.account.id %}">{{ member.account.name }}</a></li>
	{% empty %}
		<li>no member accounts found</li>
	{% endfor %}
	</ul>

{% endblock %}

