{% load url from future %}
<html>
<head>
<style>
body  {
    font-size: 0.8em;
    color: #404040;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
    background-color: #eae5dd;
    margin: 0;
    padding:6px;
}

.gig-title  {
    font-size: 0.9em;
    font-weight: bold;
    color: #d00;
}
.gig-info  {
    font-size: 0.9em;
    color: #33d;
    margin-left: 16px;
    
}
</style>

</head>
<body>
{% load markup %}
<h1>Resources collected by {{ object.name }}</h1>

<div id="results">
        
    <ol class="resource-listing">
    {% for resource in curations %}
        <li><p class="resource-listing-title"><a href="{% url 'resource' resource.id %}">{{ resource.title }}</a></p>

            {% if resource.locations %}
                <ol>
                    {% for loc in resource.locations %}
                        <li class="resource-listing-locs">{{ loc }}</li>
                    {% endfor %}
                </ol>
            {% endif %}

            <p>{{ resource.description|truncatewords:30 }}</p>
            <p class="resource-listing-meta">
                <a class="resource-url" href="{% url 'resource' resource.id %} target="_top"">more details...</a>
                {% if resource.uri %} |
                    <a href="{{ resource.uri }}">external site...</a>
                {% endif %}
            </p>
<!-- 
-->
        </li>
    {% empty %}
        <li>no results found</li>
    {% endfor %}
    </ol>

</div>


</body>
</html>
