{# Just needs rev_url set to work for Resource or Account #}
{% load utils depot_tags markup %}
{% load url from future %}
  {% if centres or pt_results %}
    mapstraction = new mxn.Mapstraction('map','google');
    //mapstraction = new mxn.Mapstraction('map','openlayers');

    var centre_pin;
    {% for pin in centres %}
      centre_pin =  new mxn.Marker(new mxn.LatLonPoint({{pin.location.0}}, {{pin.location.1}}))
      centre_pin.setIcon("/static/images/misc/blue-pin.png", [21,34], [10,34]);
      centre_pin.setShadowIcon('/static/images/misc/pin-shadow50.png')     
      mapstraction.addMarker(centre_pin);      
    {% endfor %}

    {% for loc, res_objs in pt_results.items %}
        advancedMarker({{ loc.0 }}, {{ loc.1 }}, '{% for id, title in res_objs %}<p><a href="{% url rev_url id %}">{{ title }}</a></p>{% endfor %}');
    {% endfor %}

    function advancedMarker(lat, lon, info) {
      mapstraction.addMarkerWithData(new mxn.Marker( new mxn.LatLonPoint(lat, lon)),{
        infoBubble : info,
        label : "",
        // marker : 3,
        icon : "/static/images/misc/ymarker_or.png",
        iconSize : [25,25],
        iconAnchor: [0,25],
        draggable : false,
        hover : true
      });
    };

    mapstraction.addControls({
      pan: true, 
      zoom: 'small',
      map_type: true 
    });
    
    mapstraction.autoCenterAndZoom();
    {% if pt_results|length < 2 and centres|length < 2 %} 
      mapstraction.setZoom(12);
    {% endif %}

  {% endif %}
  $('.sub-nav a').click(function() {
    $('#loading').show();
  })
