{% extends "depot/resource_base.html" %}
{% load accounts_tags utils %}
{% load url from future %}

{% block title %}resources{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<dl class="sub-nav">
  <dt>Actions:</dt>
  <dd><a href="{% url 'resource_add' %}">Add a new resource</a></dd>
  <dd><a href="{% url 'accounts_detail' user|account_id %}">Browse your curations</a></dd>
  {% if user.is_staff %}
    <dd><a href="{% url 'cab_reindex' %}" id="reindex">Reindex resources</a></dd>
  {% endif %}
</dl>

<div id="loading">working...</div>

{% endif %}



<h1>Resources</h1>

{% pagination objects %}


<ul>
	{% for object in objects %}
		<li><a href="{% url 'resource' object.id %}">{{ object.title }}</a> </li>
	{% empty %}
		<li>no resources found</li>
	{% endfor %}
</ul>

<hr>
{% pagination objects %}

{% endblock %}

