{% extends "base_tabbed.html" %}
{% load markup utils accounts_tags depot_tags %}
{% load url from future %}

{% block title %}{{ object.title }}{% endblock %}

{% block body_class %}resource{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'resource_find' %}">Search</a></li>
    <li class="current"><a href="#">{{ object.title }}</a></li>
</ul>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<dl class="sub-nav">
    <dt>Actions:</dt>
    <dd><a href="{% url 'curation_add' object.id %}">New curation</a></dd>
    {% if user|can_edit:object %}
        <dd><a href="{% url 'resource_edit' object.id %}">Edit resource</a></dd>
    {% endif %}
    {% if user.is_staff %}
        {% if user|can_delete:object %}
            <dd><a href="{% url 'resource_remove' object.id %}">Delete resource</a></dd>
        {% endif %}
    {% endif %}
    <dd><a href="{% url 'resource_add' %}">Add a new resource</a></dd>
</dl>
{% endif %}


{% if object.uri %}
<h1><a href="{{ object.uri }}">{{ object.title }}</a></h1>
{% else %}
<h1>{{ object.title }}</h1>
{% endif %}

{% if object.status_is_bad %} 
    <div class="panel issue-3"><p>THIS RESOURCE IS NOT CURRENTLY AVAILABLE IN SEARCHES OF ALISS.</p></div>
{% else %}
    {% if object|issue_status > -1 %} 
        <div class="panel issue-{{ object|issue_status }}"><p>This resource has had a {{ object|status_text }} problem reported which is waiting to be resolved. Please <a href="/contact/">contact us</a> if you need more information.</p>
        </div>
    {% endif %}
{% endif %}

<div class="resource-description">
{{ object.description|textile }}
</div>

<div class="row">

    <table class="metadata">

    {% if object.calendar_event %}
        <tr><th>event</th><td>{{ object.calendar_event|event_date }}</td></tr>
    {% endif %}
    {% for loc in object.locations %}
        <tr><th>{% ifchanged %}location{% endifchanged %}</th><td>{{ loc }}</td></tr>
    {% empty %}
        <tr><th>location</th><td>-</td></tr>
    {% endfor %}
    <tr><th>tags</th><td>{{ object.tags|join:", " }}</td></tr>
    <tr><th>owner</th><td><a href="{% url 'account_detail' object.owner.id %}">{{ object.owner.name }}</a></td></tr>
    <tr><th>last changes</th><td>{{ object.item_metadata.author }}, {{ object.item_metadata.last_modified }}</td></tr>{% for curation in object.curations %}
        <tr>
            <th>{% ifchanged %}curation{% endifchanged %}</th>
            <td><a href="{% url 'curation' object.id forloop.counter0 %}">{{ curation.owner }} [{{ curation.outcome }}] {{ curation.tags|join:", " }}</a></td>
        </tr>
    {% empty %}
        <tr><th>curation</th><td>-</td></tr>
    {% endfor %}


    {% for mod in object.moderations  %}
        <tr><td colspan="2">{{ mod.owner }} {{ mod.outcome }}</td> </tr>
    {% endfor %}



    {% if not user|is_owner:object %}
    <tr><th colspan="2">
        {% if user.is_authenticated %} 
            <a href="{% url 'resource_report' object.id %}">Report Resource</a>
        {% else %}
        <a href="{% url 'contact' %}">Report Resource</a>   
        {% endif %}
    </th></tr>
    {% endif %}

    </table>

{% if object.locations %}<div id="map"></div>{% endif %}

</div>

{% endblock %}

{% block script-extra %}

<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key={{ google_key }}"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.core-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.google.core-min.js"></script>
<!-- <script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.openlayers.core-min.js"></script>
 -->
{% endblock %}

{% block document-ready %}
{% if object.locations %}
    mapstraction = new mxn.Mapstraction('map','google');
    //mapstraction = new mxn.Mapstraction('map','openlayers');
    mapstraction.addMarker( new mxn.Marker( new mxn.LatLonPoint({{object.locations.0.lat_lon.0}}, {{object.locations.0.lat_lon.1}})));
    {% for loc in object.locations %}
        mapstraction.addMarker( new mxn.Marker( new mxn.LatLonPoint({{loc.lat_lon.0}}, {{loc.lat_lon.1}})));
        //currentGeoPoint = new YGeoPoint( "{{loc.lat_lon.0}}" , "{{loc.lat_lon.1}}"  );  
        //map.addMarker(currentGeoPoint);  
    {% endfor %}
    
    mapstraction.addControls({
        pan: true, 
        zoom: 'small',
        map_type: true 
    });
    
    //mapstraction.autoCenterAndZoom();
    mapstraction.setCenterAndZoom(new mxn.LatLonPoint({{object.locations.0.lat_lon.0}}, {{object.locations.0.lat_lon.1}}), 14);

{% endif %}
{% endblock %}
​
