{# Just needs rev_url set to work for Resource or Account #}
{% load utils depot_tags markup %}
{% load url from future %}
  {% if pt_results %}
    mapstraction = new mxn.Mapstraction('map','google');
    //mapstraction = new mxn.Mapstraction('map','openlayers');
    {% if centre %} 
      var centre_pt = new mxn.LatLonPoint({{centre.location.0}}, {{centre.location.1}})
      mapstraction.addMarker( new mxn.Marker(centre_pt));      
    {% endif %}

    {% for loc, res_objs in pt_results.items %}
        advancedMarker({{ loc.0 }}, {{ loc.1 }}, '{% for id, title in res_objs %}<p><a href="{% url rev_url id %}">{{ title }}</a></p>{% endfor %}');
    {% endfor %}

    function advancedMarker(lat, lon, info) {
      mapstraction.addMarkerWithData(new mxn.Marker( new mxn.LatLonPoint(lat, lon)),{
        infoBubble : info,
        label : "",
        marker : 3,
        icon : "/static/images/misc/ymarker_or.png",
        iconSize : [25,25],
        draggable : false,
        hover : true
      });
    };

    mapstraction.addControls({
      pan: true, 
      zoom: 'small',
      map_type: true 
    });
    
    //mapstraction.setCenterAndZoom(centre_pt, 12);
    mapstraction.autoCenterAndZoom()

  {% endif %}
  $('.sub-nav a').click(function() {
    $('#loading').show();
  })
