{% extends "youraliss/base.html" %}
{% load url from future %}

{% block title %}your aliss account{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">edit</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-profile %}active{% endblock %}


{% block module-content %}
	<h2>Your account settings</h2>

	<dl class="sub-nav">
	    <dt>Actions:</dt>
        <dd><a href="{% url 'logout' %}">logout</a></dd>
        <dd><a href="{% url 'password_change' %}">change password</a></dd>
	</dl>


{% include 'accounts/accounts_edit_forms.html' %}

	<table class="metadata">
		<tr><th>local id</th><td>{{ object.local_id }}</td></tr>
		<tr><th>members</th><td>{{ object.members|default:"-" }}</td></tr>
		<tr><th>status</th><td>{{ object.status }}</td></tr>
		<tr><th>in&nbsp;lists</th><td>
			{% for coll in object.in_collections %}
				<a href="{% url 'cab_list_detail' coll.id %}">{{ coll.name }}</a><br>
			{% empty %}-
			{% endfor %}
		</td></tr>
	</table>

{% endblock %}

{% block script-extra %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="/static/css/token-input-aliss.css" type="text/css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.tokeninput.js" type="text/javascript"></script>
{% endblock script-extra %}

{% block document-ready %}
{% include 'accounts/accounts_edit_js.html' %}
{% endblock document-ready %}