{% extends "youraliss/base.html" %}
{% load url from future %}

{% block title %}your aliss lists{% endblock %}

{% block breadcrumb-add %}
    <li><a href="{% url 'youraliss_lists' %}">lists</a></li>
    <li class="current"><a href="#">{{ object.name }}</a></li>
{% endblock breadcrumb-add %}

{% block mod-nav-groups %}active{% endblock %}


{% block module-content %}
	<h2>List: {{object.name}}</h2>

<!--  	<dl class="sub-nav">
	    <dt>Actions:</dt>
        <dd><a href="#">sdasdf</a></dd>
	</dl>
 -->

 	<p>Owner: <a href="{% url 'accounts_detail' object.owner.id %}">{{ object.owner.name }}</a></p>

 	<h3>Member accounts</h3>

 	<ul class="disc">
	{% for member in object.accounts %}
		<li><a href="{% url 'accounts_detail' member.account.id %}">{{ member.account.name }}</a></li>
	{% empty %}
		<li>no member accounts found</li>
	{% endfor %}
	</ul>

{% endblock %}
