{% extends "youraliss/base.html" %}
{% load url from future %}

{% block title %}your aliss lists{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">lists</a></li>
{% endblock breadcrumb-add %}

{% block mod-nav-groups %}active{% endblock %}


{% block module-content %}
	<h2>Lists</h2>

	<p>You can create lists of user accounts that you are interested in, which can then be used to filter results in Aliss searches.</p>
	
	{% for object in objects %}
		<p><a href="{% url 'youraliss_lists_detail' object.id %}">{{object.name}}</a></p>
	{% empty %}
		<p>You have no lists at the moment.</p>
	{% endfor %}


{% endblock %}
