<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>aliss.org: {% block title %}{% endblock %}
    </title>
    <script type='text/javascript' src='/static/js/modernizr-1.6.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/screen.css" />
    <!--[if IE 6]> <link rel="stylesheet" href="/static/css/ie6.css" media="screen, projection">
    <![endif]-->
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <script type="text/javascript" src="http://use.typekit.com/raw4saf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% block head-extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        $('.js .media').embedly({
          maxWidth: 450,
          wmode: 'transparent',
          methodx: 'before'
        });
        {% block document-ready %}{% endblock %}
      });
    </script>
</head>
<body class="{% block body_class %}single{% endblock %}">

    
    <div id="skip"><a href="#maincontent">Skip to content</a> <a href="#login">Skip to login</a></div>
    <div id="header">
     
    <h1><a href="/">aliss<span class="domain">.org</span></a></h1>
    <div id="headercontents">
    <ul id="sitenav">
        <li><a href="/">home</a></li>
        <li><a href="/about/">about</a></li>
        {# <li><a href="project-info.html">info</a></li> #}
        <li><a href="/contact/">contact</a></li>
        {% if user.is_authenticated %}
            <li><a href="/depot/resource/find/">search</a></li>
        {% endif %}
        {% if user.is_staff %}
            <li><a href="/cab/">cab</a></li>
            <li><a href="/admin/">admin</a></li>
        {% endif %}
    </ul>
    </div>  
    <ul id="usernav">
      {% if user.is_authenticated %}
        <li>logged in as {{ user.username }}</li>
        <li><a href="/accounts/password_change/">change password</a></li>
        <li><a href="/logout/">log out</a></li>
      {% else %}
        <li><a href="/accounts/login/" id="login">log in</a></li>
        <li><a href="/password_reset/">forgotten password</a></li>
      {% endif %}
    </ul>
    </div>
<div id="main" class="group">
    {% if messages %}
	  <div class="message">
	    <ul> 
	        {% for message in messages %} 
	            <li class="{{ message.tags }}">{{ message|safe }}</li>
	        {% endfor %}
	    </ul>
	  </div>
	{% endif %}
    {% block pageintro %}{%endblock%}
    
	<div id="maincontent">
	{% block content %}&nbsp;{% endblock %}
	</div>
    
</div>
<div id="footer">
    {% block footer-extra %}{% endblock %}
    <p>Geolocation data provided by <a href="http://www.geonames.org">www.geonames.org</a></p>
</div>
</body>
</html>
