<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" lang="en" content="ALISS, health, self-management, long-term conditions, Scotland, Access to Local Information to Support Self-management">
    <title>ALISS: {% block title %}{% endblock %}
    </title>
    <script type='text/javascript' src='/static/js/modernizr-1.6.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/screen.css" />
    <!--[if IE 6]> <link rel="stylesheet" href="/static/css/ie6.css" media="screen, projection">
    <![endif]-->
    <!--[if IE 7]> <link rel="stylesheet" href="/static/css/ie7.css" media="screen, projection">
    <![endif]-->
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <script type="text/javascript" src="http://use.typekit.com/raw4saf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% block head-extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        {% block document-ready %}{% endblock %}
      });
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-563964-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body class="{% block body_class %}single{% endblock %}">

    {% if user.is_authenticated %}{% endif %}
    <div id="flash-tab">demonstration site</div>
    <div id="skip"><a href="#maincontent">Skip to content</a> <a href="#login">Skip to login</a></div>
    <div id="header">
     
    <h1><a href="/">aliss<span class="domain">.org</span></a></h1>
    <div id="headercontents">
    <ul id="sitenav">
        <li><a href="/">home</a></li>
        <li><a href="/about/">about</a></li>
        {# <li><a href="project-info.html">info</a></li> #}
        <li><a href="/contact/">contact</a></li>
        <li><a href="/depot/resource/find/">search</a></li>
        {% if user.is_staff %}
            <li><a href="/cab/">cab</a></li>
            <li><a href="/admin/">admin</a></li>
        {% endif %}
    </ul>
    </div>  
    </div>  
    <div id="usernav">  
    <ul>
      {% if user.is_authenticated %}
        <li>logged in as {{ user.username }}</li>
        <li><a href="/accounts/password_change/">change password</a></li>
        <li><a href="/logout/">log out</a></li>
        <li><a href="/depot/resource/add/">add new resource</a></li>
      {% else %}
        <li><a href="/accounts/login/" id="login">log in</a></li>
        <li><a href="/password_reset/">forgotten password</a></li>
      {% endif %}
    </ul>
    </div>
<div id="main" class="group">
    {% if messages %}
	  <div class="usermessage">
	    <ul> 
	        {% for message in messages %} 
	            <li class="{{ message.tags }}">{{ message|safe }}</li>
	        {% endfor %}
	    </ul>
	  </div>
	{% endif %}
    {% block pageintro %}{%endblock%}
    
	<div id="maincontent">
	{% block content %}&nbsp;{% endblock %}
	</div>
    
</div>
<div id="footer">
    {% block footer-extra %}{% endblock %}
    <p>Geolocation data provided by <a href="http://www.geonames.org">www.geonames.org</a></p>
    <p><a href="javascript:(function(){aliss_script=document.createElement('SCRIPT');aliss_script.type='text/javascript';aliss_script.src='http://www.aliss.org/static/js/aliss_bm.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(aliss_script);})();g">ALISS it</a> bookmark</p>
</div>
{% comment %}
<script type="text/javascript" src="http://static.wehearvoices.net/widget.js"></script>
<script type="text/javascript" src="http://widget.wehearvoices.net/node/init.js?user_id=9cac9f62-69cd-11e0-bf5e-fefdb24f91c5"></script>
{% endcomment %}

</body>
</html>
