<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="keywords" lang="en" content="ALISS, health, self-management, long-term conditions, Scotland, Access to Local Information to Support Self-management">

<!-- Set the viewport width to device width for mobile -->
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->

<title>ALISS: {% block title %}{% endblock %}</title>
<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">

<script type="text/javascript" src="http://use.typekit.com/amh5xxh.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" href="/static/css/default.css">

<link rel="stylesheet" href="/static/css/style.css" media="(min-width:768px)">

<!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" href="css/style.css">
<![endif]-->

</head>
<body class="{% block body_class %}{% endblock %}">
<div class="page">
    <!-- container -->
    <div class="container site-header">
        <div id="site-header" class="row">
            <h1>aliss</h1>
            <div class="nav-mobile">{% block nav_link %}<a href="/">home</a>{% endblock %}</div>
            
            <div class="nav"><a href="/">home</a> | <a href="/info/">find out more</a> | <a href="/search/">search</a> | <a href="/contact/">contact us</a> | <a href="/your-aliss/">your Aliss</a></div>
        </div>
    </div>

    <div class="main container"><div class="row">{% block content %}&nbsp;{% endblock %}</div></div>

    <div class="container site-footer">
        <div id="site-footer" class="row">
            <ul>
                <li><a href="#">Long Term Conditions Alliance Scotland</a></li>
                <li><a href="#"><a href="#">Terms &amp; conditions</a></a></li>
            </ul>
        </div>

    </div>
    <!-- container -->
</div>
    
    <!-- Included JS Files
    <script src="scripts/foundation.js"></script>
    <script src="scripts/app.js"></script>
  -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

  {% block script-extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        {% block document-ready %}{% endblock %}
      });
    </script>
<!--  -->
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>


{% comment %}



<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="keywords" lang="en" content="ALISS, health, self-management, long-term conditions, Scotland, Access to Local Information to Support Self-management">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    
    <title>ALISS: {% block title %}{% endblock %}</title>
  
    <script type="text/javascript" src="http://use.typekit.com/amh5xxh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="/static/css/default.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/static/stylesheets/ie.css">
    <![endif]-->

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="{% block body_class %}{% endblock %}">

    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1 class="site-logo">aliss</h1>
            </div>
        </div>
        {% block nav-home %}<p><a href="/" class="nice medium radius blue button">home</a></p>{% endblock %}
        

        <div class="row breadcrumbs">
            {% block breadcrumbs %}{% endblock %}
        </div>

        {% if messages %}
          <div class="row usermessage alert-box {{ message.0.tags }}">
            <ul> 
                {% for message in messages %} 
                    <li class="{{ message.tags }}">{{ message|safe }}</li>
                {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div class="row" id="top">

        {% block content %}&nbsp;{% endblock %}
        </div>
    <div class="site-footer row">
        <ul>
            <li><a href="#">Long Term Conditions Alliance Scotland</a></li>
            <li><a href="#"><a href="#">Terms &amp; conditions</a></a></li>
        </ul>
    </div>
    </div>
    <!-- container -->
    
    


    <!-- Included JS Files -->
    <script src="/static/scripts/foundation.js"></script>
    <script src="/static/scripts/app.js"></script>
    {% block script-extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        {% block document-ready %}{% endblock %}
      });
    </script>

</body>
</html>







    
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" lang="en" content="ALISS, health, self-management, long-term conditions, Scotland, Access to Local Information to Support Self-management">
    <title>ALISS: {% block title %}{% endblock %}
    </title>
    <script type='text/javascript' src='/static/js/modernizr-1.6.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/screen.css" />
    <!--[if IE 6]> <link rel="stylesheet" href="/static/css/ie6.css" media="screen, projection">
    <![endif]-->
    <!--[if IE 7]> <link rel="stylesheet" href="/static/css/ie7.css" media="screen, projection">
    <![endif]-->
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <script type="text/javascript" src="http://use.typekit.com/raw4saf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% block head-extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        {% block document-ready %}{% endblock %}
      });
    </script>

</head>
<body class="{% block body_class %}single{% endblock %}">

    {% if user.is_authenticated %}{% endif %}
    <div id="flash-tab">demonstration site</div>
    <div id="skip"><a href="#maincontent">Skip to content</a> <a href="#login">Skip to login</a></div>
    <div id="header">
     
    <h1><a href="/">aliss<span class="domain">.org</span></a></h1>
    <div id="headercontents">
    <ul id="sitenav">
        <li><a href="/">home</a></li>
        <li><a href="/about/">about</a></li>
        {# <li><a href="project-info.html">info</a></li> #}
        <li><a href="/contact/">contact</a></li>
        <li><a href="/depot/resource/find/">search</a></li>
        {% if user.is_staff %}
            <li><a href="/cab/">cab</a></li>
            <li><a href="/admin/">admin</a></li>
        {% endif %}
    </ul>
    </div>  
    </div>  
    <div id="usernav">  
    <ul>
      {% if user.is_authenticated %}
        <li>logged in as {{ user.username }}</li>
        <li><a href="/accounts/password_change/">change password</a></li>
        <li><a href="/logout/">log out</a></li>
        <li><a href="/depot/resource/add/">add new resource</a></li>
      {% else %}
        <li><a href="/accounts/login/" id="login">log in</a></li>
        <li><a href="/password_reset/">forgotten password</a></li>
      {% endif %}
    </ul>
    </div>
<div id="main" class="group">
    {% if messages %}
	  <div class="usermessage">
	    <ul> 
	        {% for message in messages %} 
	            <li class="{{ message.tags }}">{{ message|safe }}</li>
	        {% endfor %}
	    </ul>
	  </div>
	{% endif %}
    {% block pageintro %}{%endblock%}
    
	<div id="maincontent">
	{% block content %}&nbsp;{% endblock %}
	</div>
    
</div>
<div id="footer">
    {% block footer-extra %}{% endblock %}
    <p>Geolocation data provided by <a href="http://www.geonames.org">www.geonames.org</a></p>
    <p><a href="javascript:(function(){aliss_script=document.createElement('SCRIPT');aliss_script.type='text/javascript';aliss_script.src='http://www.aliss.org/static/js/aliss_bm.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(aliss_script);})();g">ALISS it</a> bookmark</p>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-563964-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
{% endcomment %}
