<!DOCTYPE html>
{% load url from future %}

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta name="keywords" lang="en" content="ALISS, health, self-management, long-term conditions, Scotland, Access to Local Information to Support Self-management">

<!-- Set the viewport width to device width for mobile -->
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->

<title>ALISS: {% block title %}{% endblock %}</title>
<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">

<script type="text/javascript" src="http://use.typekit.com/amh5xxh.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<link rel="stylesheet" href="/static/css/default.css">

<link rel="stylesheet" href="/static/css/style.css" media="(min-width:768px)">

<!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" href="/static/css/style.css">
<![endif]-->

</head>
<body class="{% block body_class %}{% endblock %}">
<div class="page">
    <!-- container -->
    <div class="container site-header">
        <div id="site-header" class="row">
            <h1>aliss</h1>
            <div class="nav-mobile">{% block nav_link %}<a href="{% url 'index' %}">home</a>{% endblock %}</div>
            
            <div class="nav">
                <a href="{% url 'index' %}">home</a>
                - <a href="/info/">find out more</a>
                - <a href="{% url 'search' %}">explore Aliss</a> 
                - <a href="{% url 'contact' %}">contact us</a>
                {% if not user.is_authenticated %}- <a href="{% url 'youraliss' %}">log in</a>{% endif %}
                {% if user.is_staff %}- <a href="{% url 'cab' %}">cab{% endif %}</a>
            </div>
        </div>
    </div>

	{% block top %}
        {% if user.is_authenticated %}
            <div class="logged-in container">
                <div class="row"><p>logged in as: <a href="{% url 'youraliss' %}">{{ user.username }}</a></p></div>
            </div>
        {% endif %}
    {% endblock top %}

    <div class="main container">
        <div class="row">{% block main %}{% block content %}&nbsp;{% endblock content %}{% endblock main %}</div>
    </div>

    <div class="container site-footer">
        <div id="site-footer" class="row">
            <ul>
                <li><a href="http://www.ltcas.org.uk">Long Term Conditions Alliance Scotland</a></li>
                <li><a href="/terms-and-conditions/">Terms &amp; conditions</a></li>
                <li><a href="javascript:(function(){aliss_script=document.createElement('SCRIPT');aliss_script.type='text/javascript';aliss_script.src='http://www.aliss.org/static/js/aliss_bm.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(aliss_script);})();g">ALISS it bookmark</a> (drag &amp; drop to your browser bookmarks to use)</li>
            </ul>
        </div>

    </div>
    <!-- container -->
</div>
    
    <!-- Included JS Files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type='text/javascript' src='/static/js/modernizr.foundation.js'></script>
    <script src="/static/js/foundation.js"></script>
    <script src="/static/js/app.js"></script>
    <!-- script src="scripts/app.js"></script -->

  {% block script-extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        {% block document-ready %}{% endblock %}
      });
    </script>
<!-- 
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
 -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-563964-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
