// style.scss

@import "mixins";


.home .page {
	background: #ffffff url(../images/bg-main.jpg) no-repeat;
}

#site-header h1 {
	float: left;
	padding-right: 1em;
}

#site-header .nav {
	//position: static;
    //left: 0;
   	@include un_hide_it;
    position: static;
	font-size: 130%;
	margin-top: 1.8em;
}
#site-header .nav-mobile {
	@include hide_it;
}
.main {
	padding-top: 2em;
	padding-bottom: 2em;
}
.welcome {
	margin: 3em 0;
	padding: 2em 6em;
}
.welcome p {
	font-size: 200%;
	line-height: 1.6em;
}
.page-nav {
	float: left;
	width: 33%;
}
.page-nav p {
	margin-bottom: 1em;
}
.page-nav .button {
	display: block;
}
.video {
	@include un_hide_it;
	float: right;
	width: 66%;
}
.home-links {
	padding-top: 1em;
	//float: left;
}
.home-links .action {
    margin-left: 30%;
}
.home-links p {
	padding-top: 1em;
	//display: inline;
}
.breadcrumbs {
	// margin-top: 1em;
	@include un_hide_it;	
}
/* @group search */

.search fieldset {
	margin-top: 18px;
}

.search-form {
	float: left;
	width: 30%;
}
#map {
	float: right;
	width: 64%;
}
.search .results h3 {
	display: inline;
}
.search .results h3 a {
    border-bottom: none;
}
.search .results h3, .search .results p {
	width: 64%;
}
.search .results h4 {
	position: static;
	padding-top: 0.3em;
	color: #797979;
}
.search .results .location {
	float: right;
	width: 33%;
}
.search .results .location p {
	width: auto;
}

/* @end */

/* @group presentation */
.pres-slide {
	background-color: #eee;
}
.pres-media {
	float: left;
	width: 60%;
	border: none;
	padding: 1em;
}
.pres-text {
	margin-left: 63%;
	margin-top: 2.5em;
}
.pres-text p {
	font-size: 160%;

}
/* @end */


