{% extends "enginecab/base.html" %}
{% load url from future %}
{% load accounts_tags %}

{% block title %}Location: {{ object }}{% endblock %}

{% block breadcrumb-add %}
  <li><a href="{% url 'cab_locations' %}">Locations</a></li>
  <li class="current"><a href="#">{{ object }}</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-locations %}active{% endblock %}


{% block module-content %}
  <h2>{{ object }}</h2>

<dl class="sub-nav">
    <dt>Actions:</dt>
    <dd><a href="#">Edit location</a></dd>
    {% if user|can_edit:object %}
      <dd><a href="{% url 'cab_locations_remove' object.id %}">Delete location</a></dd>
    {% endif %}

    <dd><a href="{% url 'cab_locations_add' %}">Add new location</a></dd>
</dl>

<table>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>postcode</td><td>{{ object.postcode }}</td></tr>
    <tr><td>place_name</td><td>{{ object.place_name }}</td></tr>
    <tr><td>lat_lon</td><td>{{ object.lat_lon }}</td></tr>
    <tr><td>loc_type</td><td>{{ object.loc_type }}</td></tr>
    <tr><td>accuracy</td><td>{{ object.accuracy }}</td></tr>
    <tr><td>district</td><td>{{ object.district }}</td></tr>
    <tr><td>country_code</td><td>{{ object.country_code }}</td></tr>
    <tr><td>edited</td><td>{{ object.edited }}</td></tr>
</table>

{% endblock %}

