{% extends "enginecab/base.html" %}
{% load url from future %}

{% block title %}engine cab{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">Users</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-users %}active{% endblock %}


{% block module-content %}
	<h2>User accounts</h2>

	<dl class="sub-nav">
	    <dt>Actions:</dt>
        <dd><a href="{% url 'cab_user_add' %}">New user</a></dd>
        <dd><a href="{% url 'invitations' %}">Invitations to new users</a></dd>
	</dl>


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in objects  %}
            <tr>
                <td><a href="{% url 'cab_user_detail' user.id %}">{{ user.name }}</a></td>
                <td><a href="">{{ user.email }}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">no users</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

