{% extends "base.html" %}
{% load url from future %}
{% load markup stories_tags %}

{% block title %}Aliss story{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    {% if user.is_authenticated %}
        <li><a href="{% url 'youraliss' %}">logged in as: {{ user.username }}</a></li>
    {% endif %}
    <li><a href="{% url 'stories_list' %}">Aliss Stories</a></li>
    <li class="current"><a href="#">{{ object.resource.title }}{{ object.name }}{{ object.title }}</a></li>
</ul>
{% endblock %}

{% block content %}
	
	<div class="row story">
		<h1><a href="{{ object.source_url }}">{{ object.title }}</a></h1>

		<img src="{{ object.id|pic:"500,400"}}">
		<p>{{ object.content|textile }}</p>

	{% if object.type == 'curation' %} 
		<hr>
		<p>This resource curated by <a href="{% url 'accounts_detail' object.obj.resource.owner.id %}">{{ object.obj.resource.owner }}</a></p>
	{% endif %}
	</div>

	{% if user.is_staff %} 
		<form enctype="multipart/form-data" class="nice form" method="post" action=".">{% csrf_token %}

        <fieldset>
            <legend><span>Upload a picture for this story:</span></legend>

            {{ form.as_plain }}

            <input type="submit" name="result" value="Submit" id="submit_button">
        </fieldset>
		</form>



	{% endif %}
{% endblock %}
