{% extends "base.html" %}
{% load url from future %}
{% load markup stories_tags %}

{% block title %}Aliss story{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'stories_list' %}">Aliss Stories</a></li>
    <li class="current"><a href="#">{{ object.resource.title }}{{ object.name }}{{ object.title }}</a></li>
</ul>
{% endblock %}

{% block content %}

	{# RESOURCE STORY #}
	{% if obj_type == 'curation' %} 
		<h1><a href="{% url 'resource' object.resource.id %}">{{ object.resource.title }}</a></h1>
		<p>{{ object.note|textile }}</p>
	{% else %}

	{# ACCOUNT STORY #}
		{% if obj_type == 'account' %} 
			<h1><a href="{% url 'accounts_detail' object.id %}">{{ object.name }}</a></h1>
			<p>{{ object.description|textile }}</p>

	{# FLATPAGE STORY #}
		{% else %}	
			<h1>{{ object.title }}</a></h1>
			<p>{{ object.content|textile }}</p>
		{% endif %}
	{% endif %}

	<img src="{{ object.id|pic:"500,400"}}">

	{% if obj_type == 'curation' %} 
		<p>This resource curated by <a href="{% url 'accounts_detail' object.resource.owner.id %}">{{ object.resource.owner }}</a></p>
	{% endif %}

	{% if user.is_staff %} 
		<form enctype="multipart/form-data" class="nice form" method="post" action=".">{% csrf_token %}

        <fieldset>
            <legend><span>Upload a picture for your story:</span></legend>

            {{ form.as_plain }}

            <input type="submit" name="result" value="Submit" id="submit_button">
        </fieldset>
		</form>



	{% endif %}
{% endblock %}
