{% extends "base.html" %}
{% load url from future %}
{% load markup flatpages stories_tags %}

{% block title %}Aliss stories{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  {% if user.is_authenticated %}
    <li><a href="{% url 'youraliss' %}">logged in as: {{ user.username }}</a></li>
  {% endif %}
  <li><a href="#">Aliss Stories</a></li>
</ul>
{% endblock %}
{% block content %}

	<h1>Aliss stories</h1>

{% comment %}
  
    <div class="row">
    {% load stories_tags %}
    {% carousel %}
    </div>
{% endcomment %}

  {% if objects or story_pages%}
    {% for object in objects  %}
      <div class="row story">
        <h2><a href="{{ object.url }}">{{ object.title }}</a></h2>
        <img class="in-list" src="{{ object.id|pic:"100,60"}}">
        <p>{{ object.content|truncatewords:30|textile }}</p>
      </div>
    {% endfor %}
  {% else %}

    <p>No stories at the moment</p>

  {% endif %}
  

{% endblock %}

{% comment %}
  
  {% block script-extra %}
  <script type="text/javascript">
     $(window).load(function() {
         $('#carousel').orbit({
            animation: 'fade',
            animationSpeed: 1600,
            pauseOnHover: true,
            startClockOnMouseOut: true,
            // directionalNav: true,
            captions: true,
            bullets: true,
            // bulletThumbs: true
         });
         $('.carousel').css('visibility','visible');
     });
</script>{% endblock %}
{% endcomment %}
