{% extends "base.html" %}
{% load url from future %}
{% load markup stories_tags %}

{% block title %}Aliss story{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'stories_list' %}">Aliss Stories</a></li>
    <li class="current"><a href="#">{{ object.resource.title }}</a></li>
</ul>
{% endblock %}

{% block content %}

	<h1><a href="{% url 'resource' object.resource.id %}">{{ object.resource.title }}</a></h1>
	<p>{{ object.note|textile }}</p>
	<img src="{{ object.id|pic:"500,400"}}">

	<p>This resource curated by <a href="{% url 'accounts_detail' object.resource.owner.id %}">{{ object.resource.owner }}</a></p>
{% endblock %}
