{% load url from future %}

<div class="carousel">
	{% if objects %} 	
	<div id="carousel">
		<div class="content">
	          <h1><a href="{% url 'stories_list' %}">Aliss stories</h1></a>
	          <p><a href="{% url 'stories_list' %}">Read more...</a></p>
	     </div>
	     {% for object in objects %}
	     	<img src="/static/stories/{{object.id}}.jpg" alt="{{ object.note|truncatewords:10 }}"  data-caption="#htmlCaption{{forloop.counter}}" />
			<span class="orbit-caption" id="htmlCaption{{forloop.counter}}"><a href="{% url 'stories_detail' object.id %}">{{ object.note|truncatewords:10 }}</a></span>
	     {% endfor %}
	</div>
	{% endif %}
</div>
