.error{
	color: red;
}

a.pagination{
	font-weight: bold;
	padding: 1em 1em 2em 1em;
}

h1{
	margin-top: 1em;
}
h5{
	margin-bottom: 1em;
}

h1{
    width: 600px;
    float: left ;
}

img.logo{
    float: left;
}
