{% extends "base.html" %}

{% block title %}Tickets{% endblock %}

{% block content %}


    {% if tickets %}
        <ul>
        {% for ticket in tickets %}
            <li><a href="{% url tickets-detail ticket.id %}">
                {{ ticket.message }}
                {% if ticket.related_document %} - {{ ticket.related_document }} {% endif %}
                {% if not ticket.opened %}(unread){% else %}(read){% endif %}
                {% if ticket.resolved %}(resolved){% else %}(unresolved){% endif %}
            </a></li>
        {% endfor %}
        </ul>
    {% else %}

        <p>You don't have any tickets</p>

    {% endif %}


{% endblock %}
