{% extends "base.html" %}
{% load markup utils %}
{% load url from future %}


{% block title %}{{ flatpage.title }}{% endblock %}

{% block body_class %}{{ block.super }} flatpage{% endblock %}
{% block nav_link %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
  {% if user.is_authenticated %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'youraliss' %}">logged in as: {{ user.username }}</a></li>
    </ul>
  {% endif %}
{% endblock %}

{% block content %}

<h1>{{ flatpage.title }}</h1>

{{ flatpage.content|textile }}

{% endblock %}
