<div class="pagination">
	<span class="step-links">
		{% if objects.has_previous %}
			<a href="?page={{ objects.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
		</span>

		{% if objects.has_next %}
			<a href="?page={{ objects.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>

has_other_pages {{ objects.has_other_pages }}<br>
has_previous {{ objects.has_previous }}<br>
previous_page_number {{ objects.previous_page_number }}<br>
number {{ objects.number }}<br>
num_pages {{ objects.num_pages }}<br>
next_page_number {{ objects.next_page_number }}<br>
has_next {{ objects.has_next }}<br>


{% if objects.has_other_pages %} 
<ul class="pagination">
  {% if objects.has_previous %}
      <li class=""><a href="?page={{ objects.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="unavailable"><a href="">&laquo;</a></li>
  {% endif %}

  {% if objects.paginator.num_pages %} 
  	
  {% endif %}


  <li class="current"><a href="">1</a></li>
  <li><a href="?page=2">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable"><a href="">&hellip;</a></li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>




  {% if objects.has_next %}
      <li class=""><a href="?page={{ objects.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="unavailable"><a href="">&raquo;</a></li>
  {% endif %}
</ul>

{% endif %}
