{% extends "base.html" %}
{% load utils markup %}

{% block title %}contact us{% endblock %}

{% block body_class %}contact{% endblock body_class %}

{% block content %}

<h1>Contact form</h1>

<p>To send us a message, just fill out the form below (all fields are required).</p>

<div class="row usermessages hide-on-phones">
    <div class="alert-box warning">
        We do not allow any web links (URLs) in a message- it helps prevent spam.
        <a href="" class="close">&times;</a>
    </div>
</div>

<form class="nice" method="post">{% csrf_token %}
    <fieldset>
        <legend>{% if form.errors %}<span class="">Please correct the errors below:
        {% else%}<span>Your message:{% endif %}</span></legend>

            <label for="id_name">Your name</label> <input id="id_name" type="text" class="required input-text expand" name="name" maxlength="100" value="{{form.name.value|default_if_none:''}}">
            {% if form.name.errors %}<small class="error">{{ form.name.errors|join:", " }}</small>{% endif %}

            <label for="id_email">Your email address</label> <input id="id_email" type="text" class="required input-text expand" name="email" maxlength="200" value="{{form.email.value|default_if_none:''}}">
            {% if form.email.errors %}<small class="error">{{ form.email.errors|join:", " }}</small>{% endif %}

            <label for="id_body">Your message</label> <textarea id="id_body" rows="10" cols="40" name="body" class="required expand">{{form.body.value|default_if_none:''}}</textarea>
            {% if form.body.errors %}<small class="error">{{ form.body.errors|join:", " }}</small>{% endif %}

        <p><input id="id_submit" type="submit" value="Send your messsage" /></p>
    
    </fieldset>
</form>
<div class="advice">
    {{ "contact-advice"|flatpage|textile }}
</div>

{% endblock %}

