{% extends "base.html" %}
{% load utils %}

{% block title %}edit curation{% endblock %}

{% block content %}


<form class="nice form" action=".?next={{ next }}" method="POST">{% csrf_token %}
    <fieldset>
        <legend><span>Curation details:</span></legend>
         {{ form.as_plain }}
    </fieldset>
     <fieldset class="submit">
        <input type="submit" name="result" value="Save item">
        <input type="submit" name="result" value="Cancel">
    </fieldset>
</form>

{% endblock %}

{% block script-extra %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="/static/css/token-input-aliss.css" type="text/css" rel="stylesheet">

 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.tokeninput.js" type="text/javascript"></script>
{% endblock script-extra %}
{% block document-ready %}

$('#id_tags').tokenInput('{% url depot.api_handlers.tags %}', {
    minChars: 3,
    onResult: function (results) {
        var typedValue = $('#token-input-id_tags').val();
        var r = [{id: typedValue, name: typedValue + ' (new)'}];
        $.each(results.data, function (i, item) {
            r.push({id: item, name: item});
        });
        return r;
    },
    prePopulate: [{% for t in object.tags %}{id: "{{ t|safe }}", name: "{{ t|safe }}"}{% if not forloop.last %},{% endif %}{% endfor %}],
    queryParam: 'match',
    theme: 'aliss'
});

{% endblock document-ready %}
