{% extends "base.html" %}
{% load utils %}

{% block title %}edit curation{% endblock %}

{% block content %}

<style type="text/css">
.metadata li{
    clear: none;
    width: 50%;
}
.metadata textarea{
    height: 75px;
}
</style>

<form class="form" action="." method="POST">{% csrf_token %}
    <fieldset>
        <legend><span>Curation details:</span></legend>
        <ol>
             {{ form.as_ul }}
        </ol>
    </fieldset>
    <fieldset class="metadata">
        <legend><span>Curation Metadata:</span></legend>
        <ol>
             {{ meta_form.as_ul }}
        </ol>
    </fieldset>
     <fieldset class="submit">
        <input type="submit" name="result" value="Save item">
        <input type="submit" name="result" value="Cancel">
    </fieldset>
</form>

{% endblock %}