{% extends "base.html" %}
{% load markup utils depot_tags %}

{% block title %}Curations for {{ object.name }}{% endblock %}

{% block content %}

<p>
    <a href="{% url group object.id %}">back to group</a>
</p>

<h1>Latest curations for {{ object.name }}</h1>

<div id="results">
        
    <ol class="resource-listing">
    {% for resource in curations %}
        <li><p class="resource-listing-title"><a href="{% url resource resource.id %}">{{ resource.title }}</a></p>

            {% if resource.locations %}
                <ol>
                    {% for loc in resource.locations %}
                        <li class="resource-listing-locs">{{ loc }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
            {% if resource.event_start %}
                <ol><li class="resource-listing-locs">event: {{ resource|idx_event_date }}</li></ol>
            {% endif %}


            <p>{{ resource.description|truncatewords:30 }}</p>
            <p class="resource-listing-meta">
                <a class="resource-url" href="{% url resource resource.id %}">more details...</a>
                {% if resource.uri %} |
                    <a href="{{ resource.uri }}">external site...</a>
                {% endif %}
            </p>
<!-- 
-->
        </li>
    {% empty %}
        <li>no results found</li>
    {% endfor %}
    </ol>

</div>


{% endblock %}