{% extends "base.html" %}
{% load markup utils %}

{% block title %}{{ object.title }}{% endblock %}
{% block head_extra %}
<script type="text/javascript"  
src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid={{ yahoo_appid }}">  
</script>  
<style type="text/css">  
map{  
  height: 100%;  
  width: 100%;  
}  
</style>   


{% endblock %}
{% block content %}

<p><a href="{% url item-list %}">all items</a> | <a href="{% url item-find %}">search items</a></p>

<h1>{{ object.title }}</h1>

<p>url: <a href="{{ object.url }}">{{ object.url }}</a></p>
{{ object.description|linebreaks }}

<p>author: {{ object.metadata.author|user_name }}</p>
<p>tags: {{ object.tags|join:", " }}</p>

{% with object.get_locations as locations %}

<ul>
{% for loc in locations %}
	<li>{{ loc.name }} </li>
{% empty %}
	<li>no locations found</li>
{% endfor %}	
</ul>

<p><a href="{% url item-edit object.id %}">edit item</a></p>
<p>&nbsp;</p>
<hr>
<p><a href="{% url item-remove object.id %}">delete item</a></p>

<div id="map"></div>
{% if locations|length %}
<script type="text/javascript">  
    // Create a Map that will be placed in the "map" div.  
    var map = new YMap(document.getElementById('map'));   
    function startMap(){  
        // Add the ability to change between Sat, Hybrid, and Regular Maps  
        map.addTypeControl();     
        // Add the zoom control. Long specifies a Slider versus a "+" and "-" zoom control  
        map.addZoomLong();            
        // Add the Pan control to have North, South, East and West directional control  
        map.addPanControl();    
        // Specifying the Map starting location and zoom level  
        map.drawZoomAndCenter("{{locations.0.name}}", 7);
 		{% for loc in locations %}
            var currentGeoPoint = new YGeoPoint( "{{loc.latitude}}" , "{{loc.longitude}}"  );  
            map.addMarker(currentGeoPoint);  
 		{% endfor %}
    }  
window.onload = startMap;     
</script>  
{% endif %}
{% endwith %}

<hr>
<p class="small">keywords for indexing: <em>{{ object.get_keywords|join:", "}}</em></p>

{% endblock %}