{% extends "base.html" %}
{% load utils %}
{% block title %}items{% endblock %}

{% block content %}
<h1>Resources</h1>

<ul>
	{% for object in objects %}
		<li><a href="{% url item object.id %}">{{ object.title }}</a> </li>
	{% empty %}
		<li>no items found</li>
	{% endfor %}
</ul>


<p><a href="{% url item-add %}">add new item</a></p>
<p><a href="{% url item-find %}">search</a></p>

{% endblock %}

{% block secondary-content %}
	<h2>ALISS bookmark</h2>
	<p><strong>Please note, you will need an account on this system to be able to add resources. If you are involved with the project, <a href="/contact/">contact us</a> for an account.</strong></p>
	<p>Drag the link below to your bookmarks</p>
	<p><a href="javascript:var%20w=window.open('http://{% site_base %}/depot/item/add/?popup=true&title='+encodeURIComponent(document.title)+'&page='+encodeURIComponent(location.href),'ALISS','scrollbars=1,status=0,resizable=1,location=0,toolbar=0,width=660,height=480');">ALISS It!</a> simple- no popup problem</p>
	<p><a href="javascript:(function(){aliss_script=document.createElement('SCRIPT');aliss_script.type='text/javascript';aliss_script.src='http://{% site_base %}/static/js/aliss_bm.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(aliss_script);})();">ALISS It Pro</a> - lets you select text on page for item description, but needs popups enabled</p>
{% endblock secondary-content %}