{% extends template_info.base %}
{% load utils %}

{% block title %}edit resource{% endblock %}

{% block content %}

{% if not template_info.popup %}<h1>{% if object %}Edit{% else %}Add new{% endif %} item</h1>{% endif %}

<form class="form" action="." method="POST">{% csrf_token %}
    <fieldset>
        <legend><span>Resource details:</span></legend>
        <ol>
             {{ resourceform.as_ul }}
        </ol>
    </fieldset>
     <fieldset class="submit">
		<input type="hidden" name="popup" value="{{ template_info.popup }}">
        <input type="submit" name="result" value="Save item">
        <input type="submit" name="result" value="Cancel">
    </fieldset>
<!-- 
</form>
<form class="form" action="." method="POST">{% csrf_token %}
 -->
	{% if locationform %}
	    <fieldset>
	        <legend><span>Location{{ object.locations|pluralize }}:</span></legend>

	        <ol>
        <p>Enter location information in the box below to add it to the list above.</p>
        <!-- 
			<p>If a service is not based in one location, but offered across an area, enter the name of the area below, click 'update' and select it from the list above.</p>
	     -->
	             <li><label for="id_new_location">New location:</label>
	                 <input type="text" name="new_location" id="id_new_location">
	                 <input type="submit" name="result" value="{{ UPDATE_LOCS }}">
	            </li>
	        
	            {% for loc in object.locations %}
	            	<li>{{ loc.label }}, {{ loc.place_name }} <input type="submit" name="del_loc:{{loc.id}}" value="remove location"></li>
				{% empty %}
				    <li>no locations found</li>
	            {% endfor %}
	        {# </ol> #}
	    {# </fieldset> #}
	    {#  #}
	    {# <fieldset> #}
	        {# <ol> #}
	        </ol>
	        
	    </fieldset>
	{% endif %}
	{% if tagsform %}
	    <fieldset>
	        <legend><span>Tags:</span></legend>
			<ol>
				{{ tagsform.as_ul }}
		    </ol>
	    </fieldset>
	{% endif %}
	{% if shelflifeform %}
	    <fieldset>
	        <legend><span>Shelf life:</span></legend>
		    <ol>
		         {{ shelflifeform.as_ul }}
		    </ol>	
	    </fieldset>
	{% endif %}
</form>

{% endblock %}