{% extends "base.html" %}
{% load utils %}
{% block title %}find resources{% endblock %}
{% block head-extra %}
<script src="/static/js/jquery-ui.custom.min.js" type="text/javascript"></script>
<link type="text/css" href="/static/js/css/themes/base/jquery.ui.all.css" rel="stylesheet" />
<!-- link type="text/css" href="/static/js/css/demosx.css" rel="stylesheet" / -->

<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key={{ google_key }}"></script>
<!-- script type="text/javascript" src="/static/js/mxn.core.js"></script -->  
<!-- script type="text/javascript" charset="utf-8" src="http://mapstraction.googlecode.com/svn/trunk/source/mxn.js?(google)"></script -->
<script type="text/javascript" charset="utf-8" src="/static/js/mxn-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.core-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.googlev3.core-min.js"></script>

<style>
    #slider { width: 50%; }
</style>

{% endblock %}

{% block document-ready %}
var loc = $( "#slider_label" );
var select = $( "#id_boost_location" );
var slider = $( '<div id="slider"></div>' ).insertAfter( loc ).slider({
	min: 10,
	max: 100,
	range: "min",
	value: select.val(),
	slide: function( event, ui ) {
		select.val(ui.value);
		//$("#submit_button").click()
		
	}
});
{% if results and centre %}

    var centre_pt = new mxn.LatLonPoint({{centre.location.0}}, {{centre.location.1}})
    mapstraction = new mxn.Mapstraction('map','google');
    mapstraction.addMarker( new mxn.Marker(centre_pt));
    {% for loc in object.locations %}
        mapstraction.addMarker( new mxn.Marker( new mxn.LatLonPoint({{loc.lat_lon.0}}, {{loc.lat_lon.1}})));
	{% endfor %}


    {% for res in results %}{% for loc in res.pt_location %}
        advancedMarker({{loc|get_lat}}, {{loc|get_lon}}, '<p><a href="{% url resource res.id %}">{{ res.title }}</a></p>')
    {% endfor %}{% endfor %}

    function advancedMarker(lat, lon, info) {
        mapstraction.addMarkerWithData(new mxn.Marker( new mxn.LatLonPoint(lat, lon)),{
            infoBubble : info,
            label : "tooltip",
            marker : 3,
            icon : "/static/media/img/ymarker_or.png",
            iconSize : [25,25],
            draggable : false,
            hover : true
        });
    };

    mapstraction.addControls({
        pan: true, 
        zoom: 'small',
        map_type: true 
    });
    
    mapstraction.setCenterAndZoom(centre_pt, 9);

{% endif %}
{% endblock %}


{% block main-content-class %}onecol{% endblock %}
{% block content %}

<h1>Find Resources</h1>

<div class="usermessage">
    <p>This is a demonstration only, and shows how any web site might access the ALISS engine.</p>
    <p>ALISS demonstration data is mainly from <a href="/groups/4d9b9a4489cb16665c000002/">Grampian</a> and <a href="/groups/4d9fbd5789cb1673fb000000/">Renfrewshire</a>. Searches in other areas may produce strange results!</p>

</div>

<div id="slider"></div>

<form class="form" action="." method="GET" id="search_form">{% csrf_token %}
    <fieldset>
        <legend><span>Resource details:</span></legend>
        {# <div class="ui-widget"> #}
        
        <ol>
             {{ form.as_ul }}
            <li><label for="slider" id="slider_label">Make results more local:</label>
            <span class="helptext">drag slider to the right to make location more important than search text.</span>
            </li>
        </ol>
        {# </div> #}
    </fieldset>

     <fieldset class="submit">
        <input type="submit" name="result" value="Find items" id="submit_button">
        <!-- input type="submit" name="result" value="Cancel" -->
    </fieldset>
</form>

<div id="results">
    
  {% if centre %}
    <h2>Closest results for {{ centre.name }}:</h2>
  {% endif %}
    
    <ol class="resource-listing">
    {% for resource in results %}
        <li><p class="resource-listing-title"><a href="{% url resource resource.res_id %}">{{ resource.title }}</a></p>
            {% if resource.loc_labels %}
                <ol>
                    {% for loc_label in resource.loc_labels %}
                        <li class="resource-listing-locs">{{ loc_label }}</li>
                    {% endfor %}
                </ol>
            {% endif %}

            <p>{{ resource.short_description|truncatewords:30 }}</p>
            <p class="resource-listing-meta">
                <a class="resource-url" href="{% url resource resource.res_id %}">more details...</a>
                {% if resource.uri %} |
                    <a href="{{ resource.uri }}">external site...</a>
                {% endif %}
            </p>
        </li>
    {% empty %}
        <li>no results found</li>
    {% endfor %}
    </ol>

</div>
<div id="map"></div>

{% comment %}

{% if results and centre %}
<script type="text/javascript">  
    // Create a Map that will be placed in the "map" div.  
    var map = new YMap(document.getElementById('map'));   
    function createCustomMarkerImage(img, larger){  
        var myImage = new YImage();  
        myImage.src = '/static/media/img/'+img;
        if (larger) {
            myImage.size = new YSize(34,36); 
        } else {
            myImage.size = new YSize(30,32);  
        }
        myImage.offsetSmartWindow = new YCoordPoint(0,0);  
        return myImage;   
        }  
    function startMap(){  
        // Add the ability to change between Sat, Hybrid, and Regular Maps  
        map.addTypeControl();     
        // Add the zoom control. Long specifies a Slider versus a "+" and "-" zoom control  
        map.addZoomLong();            
        // Add the Pan control to have North, South, East and West directional control  
        map.addPanControl();    
        // Specifying the Map starting location and zoom level  
        var currentGeoPoint = new YGeoPoint( "{{centre.location.0}}" , "{{centre.location.1}}"  );  
        {# map.addMarker(new YGeoPoint( "{{centre.centroid.latitude}}" , "{{centre.centroid.longitude}}"));   #}
        map.drawZoomAndCenter(currentGeoPoint, 8);

        var newMarker= new YMarker(currentGeoPoint, createCustomMarkerImage('ymarker_bl.png', false));  
        newMarker.addAutoExpand("your location");  
        map.addOverlay(newMarker);

        {% for res in results %}
            {% for loc in res.pt_location %}
            
                pinPoint = new YGeoPoint( "{{loc|get_lat}}" , "{{loc|get_lon}}");  
                var newMarker= new YMarker(pinPoint, createCustomMarkerImage('ymarker_or.png', false));  
                newMarker.addAutoExpand('<p><a href="{% url resource res.id %}">{{ res.title }}</a></p>');
            
                map.addOverlay(newMarker);
            {% endfor %}
        {% endfor %}
    }  
window.onload = startMap;     
</script>  
{% endif %}

{% endcomment %}

{% endblock %}

