{% extends "base.html" %}
{% load markup utils accounts_tags depot_tags %}

{% block title %}{{ object.title }}{% endblock %}
{% block head-extra %}
{% comment %}{% endcomment %}

<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key={{ google_key }}"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.core-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.google.core-min.js"></script>
<!-- <script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.openlayers.core-min.js"></script>
 -->
{% endblock %}

{% block document-ready %}
{% if object.locations %}
    mapstraction = new mxn.Mapstraction('map','google');
    //mapstraction = new mxn.Mapstraction('map','openlayers');
    mapstraction.addMarker( new mxn.Marker( new mxn.LatLonPoint({{object.locations.0.lat_lon.0}}, {{object.locations.0.lat_lon.1}})));
    {% for loc in object.locations %}
        mapstraction.addMarker( new mxn.Marker( new mxn.LatLonPoint({{loc.lat_lon.0}}, {{loc.lat_lon.1}})));
        //currentGeoPoint = new YGeoPoint( "{{loc.lat_lon.0}}" , "{{loc.lat_lon.1}}"  );
        //map.addMarker(currentGeoPoint);
	{% endfor %}

	mapstraction.addControls({
        pan: true,
        zoom: 'small',
        map_type: true
    });

    //mapstraction.autoCenterAndZoom();
    mapstraction.setCenterAndZoom(new mxn.LatLonPoint({{object.locations.0.lat_lon.0}}, {{object.locations.0.lat_lon.1}}), 9);

{% endif %}
{% endblock %}
​


{% block body_class %}{{ block.super}} resource-detail{% endblock %}
{% block content %}

<p class="content-menu">
    <a href="{% url resource-find %}">search items</a>
    {% if user.is_authenticated %} | <a href="{% url curation-add object.id %}">new curation</a>{% endif %}
    {% if user|can_edit:object %} | <a href="{% url resource-edit object.id %}">edit resource</a>{% endif %}
    {% if user.is_staff %}
        {% if user|can_delete:object %} | <a href="{% url resource-remove object.id %}">delete resource</a>{% endif %}
        | <a href="{% url resource-list %}">all items</a>
    {% endif %}
</p>

{% if object.uri %}
<h1><a href="{{ object.uri }}">{{ object.title }}</a></h1>
{% else %}
<h1>{{ object.title }}</h1>
{% endif %}

    <form method="POST" action=".?next={{ next }}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Report" />
    </form>

</div>

<div id="map"></div>


{% endblock %}
