{% extends "base.html" %}
{% load utils depot_tags %}
{% block title %}find resources{% endblock %}
{% block head-extra %}
<script src="/static/js/jquery-ui.custom.min.js" type="text/javascript"></script>
<link type="text/css" href="/static/js/css/themes/base/jquery.ui.all.css" rel="stylesheet" />
<!-- link type="text/css" href="/static/js/css/demosx.css" rel="stylesheet" / -->
<link href="/static/css/token-input-aliss.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key={{ google_key }}"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.core-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.google.core-min.js"></script>
<script src="/static/js/jquery.tokeninput.js" type="text/javascript"></script>
<!-- <script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.openlayers.core-min.js"></script>
 -->
<style>
    #slider { width: 50%; }

    form.resource-report, form.curation-add {
        display: none;
    }

</style>
{% endblock %}

{% block document-ready %}
var loc = $( "#slider_label" );
var select = $( "#id_boost_location" );
var slider = $( '<div id="slider"></div>' ).insertAfter( loc ).slider({
	min: 10,
	max: 100,
	range: "min",
	value: select.val(),
	slide: function( event, ui ) {
		select.val(ui.value);
		//$("#submit_button").click()
		
	}
});

$('.resource-listing > li').each(function () {
    var $self = $(this);
    var $disclosureButton = $self.find('.resource-listing-meta a.curation-add');
    var $disclosureContent = $self.find('form.curation-add');

    $disclosureContent.hide();
    $disclosureButton.click(function (event) {
        event.preventDefault();
        $disclosureContent.toggle();
        $disclosureButton.toggleClass('selected', $disclosureContent.is(':visible'));
    });


    var $reportButton = $self.find('.resource-listing-meta a.resource-report');
    var $reportContent = $self.find('form.resource-report');

    $reportContent.hide();
    $reportButton.click(function (event) {
        event.preventDefault();
        $reportContent.toggle();
        $reportButton.toggleClass('selected', $reportContent.is(':visible'));
    });

    var $tagsInput = $disclosureContent.find('[name=tags]');
    var $noteInput = $disclosureContent.find('[name=note]');

    // fixes for browser back button- value not set, so tags/note not showing
    $noteInput.value = $noteInput.innerText;
    if ($tagsInput.length)  { $tagsInput[0].value = $tagsInput[0].defaultValue; }

    var existingTags = [];
    if ($tagsInput.val() !== "") {
        $.each($tagsInput.val().split(', '), function (i, tag) {
            existingTags.push({id: tag, name: tag});
        });
    }

    $tagsInput.tokenInput('{% url depot.api_handlers.tags %}', {
        minChars: 3,
        onResult: function (results) {
            var typedValue = $disclosureContent.find('.token-input-input-token-aliss input').val();
            var r = [];
            if ($.inArray(typedValue, results.data) == -1) {
                r.push({id: typedValue, name: typedValue});
            }
            $.each(results.data, function (i, item) {
                r.push({id: item, name: item});
            });
            return r;
        },
        prePopulate: existingTags,
        queryParam: 'match',
        theme: 'aliss'
    });

    $disclosureContent.submit(function (event) {
        $form = $(this);
        event.preventDefault();
        var action = $form.attr('action');
        var data = $form.serializeArray();
        $.post(action, data, function (data, textStatus, jqXHR) {
            $form.attr('action', data.url);
            $form.find('[name=tags]').val(data.curation.tags.join(', '));
            $form.find('[name=note]').val(data.curation.note);
            $disclosureButton.text('edit curation...');
            $form.hide();

            var $flash = $('<div class="flash" style="background:#ffc;font-weight:bold">Curation saved.</div>');
            $form.before($flash);
            setTimeout(function () {
                $flash.remove();
            }, 4000);
        });
    });
});

{% if results and centre %}

    var centre_pt = new mxn.LatLonPoint({{centre.location.0}}, {{centre.location.1}})
    mapstraction = new mxn.Mapstraction('map','google');
    //mapstraction = new mxn.Mapstraction('map','openlayers');
    mapstraction.addMarker( new mxn.Marker(centre_pt));

    {% for res in results %}{% for loc in res.resource_result.pt_location %}
        advancedMarker({{loc|get_lat}}, {{loc|get_lon}}, '<p><a href="{% url resource res.resource_result.res_id %}">{{ res.resource_result.title }}</a></p>')
    {% endfor %}{% endfor %}

    function advancedMarker(lat, lon, info) {
        mapstraction.addMarkerWithData(new mxn.Marker( new mxn.LatLonPoint(lat, lon)),{
            infoBubble : info,
            label : "tooltip",
            marker : 3,
            icon : "/static/media/img/ymarker_or.png",
            iconSize : [25,25],
            draggable : false,
            hover : true
        });
    };

    mapstraction.addControls({
        pan: true, 
        zoom: 'small',
        map_type: true 
    });
    
    mapstraction.setCenterAndZoom(centre_pt, 9);

{% endif %}
{% endblock %}


{% block main-content-class %}onecol{% endblock %}
{% block content %}

<h1>Find Resources</h1>

<div class="usermessage">
    <p>This is a demonstration only, and shows how any web site might access the ALISS engine.</p>
    <p>ALISS demonstration data is mainly from <a href="/groups/4d9b9a4489cb16665c000002/">Grampian</a> and <a href="/groups/4d9fbd5789cb1673fb000000/">Renfrewshire</a>. Searches in other areas may produce strange results!</p>

</div>

<div id="slider"></div>

<form class="form" action="." method="GET" id="search_form">{% csrf_token %}
    <fieldset>
        <legend><span>Resource details:</span></legend>
        {# <div class="ui-widget"> #}
        
        <ol>
             {{ form.as_ul }}
            <li><label for="slider" id="slider_label">Make results more local:</label>
            <span class="helptext">drag slider to the right to make location more important than search text.</span>
            </li>
        </ol>
        {# </div> #}
    </fieldset>

     <fieldset class="submit">
        <input type="submit" name="result" value="Find items" id="submit_button">
        <!-- input type="submit" name="result" value="Cancel" -->
    </fieldset>
</form>

<div id="results">
    
  {% if centre %}
    <h2>Closest results for {{ centre.name }}:</h2>
  {% endif %}

    <ol class="resource-listing">
        {% for result in results %}
            {% with result.resource_result as resource %}
                <li id="resource{{ resource.id }}">
                    <p class="resource-listing-title"><a href="{% url resource object_id=resource.res_id %}">{{ resource.title }}</a></p>
                    {% if resource.event_start %}
                        <p class="event">{{ resource|idx_event_date }}</p>
                    {% endif %}
                    {% if resource.loc_labels %}
                        <ol>
                            {% for loc_label in resource.loc_labels %}
                                <li class="resource-listing-locs">{{ loc_label }}</li>
                            {% endfor %}
                        </ol>
                    {% endif %}

                    <p>{{ resource.short_description|truncatewords:30 }}</p>
                    <p class="resource-listing-meta">
                        <a class="resource-url" href="{% url resource resource.res_id %}">more details...</a>
                        {% if resource.uri %}
                            | <a href="{{ resource.uri }}">external site...</a>
                        {% endif %}

                        {% if user.is_authenticated %}
                            {% if result.curation %}
                                | <a class="curation-add" href="{% url curation-edit resource.res_id result.curation_index %}?next={{ next }}">edit curation...</a>
                            {% else %}
                                | <a class="curation-add" href="{% url curation-add resource.res_id %}?next={{ next }}">create curation...</a>
                            {% endif %}
                        {% endif %}
                        | <a class="resource-report" href="{% url resource-report resource.res_id %}?next={{ next }}">report resource</a>
                    </p>

                    {% if user.is_authenticated %}
                    <form action="{% if result.curation %}{% url curation-edit resource.res_id result.curation_index %}{% else %}{% url curation-add resource.res_id %}{% endif %}?next={{ next }}" class="curation-add" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend><span>Curation details:</span></legend>
                            <ol>
                                 {{ result.curation_form.as_ul }}
                            </ol>
                        </fieldset>
                         <fieldset class="submit">
                            <input type="submit" name="result" value="Save item">
                        </fieldset>
                    </form>

                    <form action="{% url resource-report resource.res_id %}?next={{ next }}" class="resource-report" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend><span>Report details:</span></legend>
                            <ol>
                                 {{ result.resource_report_form.as_ul }}
                            </ol>
                        </fieldset>
                         <fieldset class="submit">
                            <input type="submit" name="result" value="Save item">
                        </fieldset>
                    </form>
                    {% endif %}

                </li>
            {% endwith %}
        {% empty %}
            <li>no results found</li>
        {% endfor %}
    </ol>

</div>
<div id="map"></div>

{% endblock %}


