{% extends "base.html" %}
{% load markup utils %}

{% block title %}{{ object.title }}{% endblock %}
{% block head-extra %}
<script type="text/javascript"  
src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid={{ yahoo_appid }}">  
</script>  
<style type="text/css">  
map{  
  height: 100%;  
  width: 100%;  
}  
</style>   


{% endblock %}

{% block body_class %}{{ block.super}} resource-detail{% endblock %}
{% block content %}

<p><a href="{% url resource-list %}">all items</a> | <a href="{% url resource-find %}">search items</a></p>

{% if object.uri %}
<h1><a href="{{ object.uri }}">{{ object.title }}</a></h1>
{% else %}
<h1>{{ object.title }}</h1>
{% endif %}

{{ object.description|textile }}

<p>owner: <a href="{% url group object.owner.id %}">{{ object.owner.name }}</a></p>
<p>last changes: {{ object.item_metadata.author }}</p>
<p>tags: {{ object.tags|join:", " }}</p>


<ul>
{% for loc in object.locations %}
	<li>{{ loc.label }}, {{ loc.place_name }}</li>
{% empty %}
	<li>no locations found</li>
{% endfor %}	
</ul>

<hr>
<h2>Curations</h2>
<ul>
{% for curation in object.curations %}
	<li><a href="{% url curation object.id forloop.counter0 %}">{{ curation.owner }} {{ curation.outcome }}, {{ curation.tags }}</a></li>
{% empty %}
	<li>no curations found</li>
{% endfor %}	
</ul>
<p><a href="{% url curation-add object.id %}">new curation</a>

<hr>
<p><a href="{% url resource-edit object.id %}">edit resource</a>
{% if user.is_staff %} | <a href="{% url resource-remove object.id %}">delete resource</a>{% endif %}</p>

<div id="map"></div>
{% if object.locations %}
<script type="text/javascript">  
    // Create a Map that will be placed in the "map" div.  
    var map = new YMap(document.getElementById('map'));   
    function startMap(){  
        // Add the ability to change between Sat, Hybrid, and Regular Maps  
        map.addTypeControl();     
        // Add the zoom control. Long specifies a Slider versus a "+" and "-" zoom control  
        map.addZoomLong();            
        // Add the Pan control to have North, South, East and West directional control  
        map.addPanControl();    
        // Specifying the Map starting location and zoom level  
        var currentGeoPoint = new YGeoPoint( "{{object.locations.0.lat_lon.0}}" , "{{object.locations.0.lat_lon.1}}"  );  
        map.drawZoomAndCenter(currentGeoPoint, 7);
        // map.drawZoomAndCenter("{{locations.0.label}}", 7);
 		{% for loc in object.locations %}
            currentGeoPoint = new YGeoPoint( "{{loc.lat_lon.0}}" , "{{loc.lat_lon.1}}"  );  
            map.addMarker(currentGeoPoint);  
 		{% endfor %}
    }
window.onload = startMap;
</script>  
{% endif %}

<hr>
<!-- 
<p class="small">keywords for indexing: <em>{{ object.get_keywords|join:", "}}</em></p>
 -->
{% endblock %}