{% extends "base.html" %}

{% block title %}home{% endblock %}

{% block content %}
<h1>ALISS@EngineClub</h1>
<p><strong>This is a demonstration site to test and show off the ALISS engine.</strong></p>

<p>For more information on ALISS and her engine, look here:</p>

<ul>
    <li><a href="http://www.aliss.scot.nhs.uk/">ALISS project blog</a></li>
    <li><a href="http://twitter.com/alissproject">@ALISSproject on Twitter</a></li>
    <li><a href="http://github.com/snowcloud/engineclub/">EngineClub code on Github</a></li>
    <li><a href="http://alissproject.ning.com/">Ning community site for ALISS innovation workshop</a></li>
        
</ul>

<hr>
<p><a href="/depot/item/">view example data</a></p>

{% endblock %}