{% extends "base.html" %}

{% block title %}contact us{% endblock %}


{% block content %}

<h2>Contact form</h2>

<p>To send us a message, just fill out the form below (all fields are required).</p>

<p class="alert">We do not allow any web links (URLs) in a message- it helps prevent spam.</p>

{% comment %}
    
<div class="newsflash"><h2>The Scots Music Group Office is now closed until Monday 5th January 2009.</h2>
<p>Problems relating to using the web site will be answered as soon as possible, but other issues will not be answered until then.</p></div>
{% endcomment %}

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form class="form" method="post" action="">{% csrf_token %}
    <fieldset>
        <legend><span>Your message:</span></legend>
        <ol>
        {% if form.name.errors %} <li class="errorlist">{{ form.name.errors|join:", " }}</li>{% endif %}
        <li><label for="id_name">Your name:</label>{{ form.name }}</li>
        
        {% if form.email.errors %} <li class="errorlist">{{ form.email.errors|join:", " }}</li>{% endif %}
        <li><label for="id_email">Your email address:</label>{{ form.email }}</li>
        
        {% if form.body.errors %} <li class="errorlist">{{ form.body.errors|join:", " }}</li>{% endif %}
        <li><label for="id_body">Your message:</label>{{ form.body }}</li>
        </ol>
    </fieldset>
    <fieldset class="submit">
        <input id="id_submit" type="submit" value="Send your messsage" />
    
    </fieldset>
</form>


{% endblock %}

