{% extends "youraliss/base.html" %}

{% block title %}your aliss account{% endblock %}

{% block mod-nav-account %}active{% endblock mod-nav-account %}


{% block module-content %}
	<h2>Your account</h2>

	<dl class="sub-nav">
	    <dt>Actions:</dt>
        <dd><a href="{% url logout %}">logout</a></dd>
        <dd><a href="{% url password_reset %}">reset password</a></dd>
	</dl>


	<form class="nice form" action="." method="POST">{% csrf_token %}
	    <fieldset>
	        <legend><span>Account details:</span></legend>
	         {{ form }}

	         <hr>
	        <input type="submit" name="result" value="Save changes">
	    </fieldset>
	</form>

	<table class="metadata">
		<tr><th>local id</th><td>{{ object.local_id }}</td></tr>
		<tr><th>url</th><td>{{ object.url }}</td></tr>
		<tr><th>members</th><td>{{ object.members }}</td></tr>
		<tr><th>status</th><td>{{ object.status }}</td></tr>
		<tr><th>collections</th><td>{{ object.collections }}</td></tr>
	</table>


{% endblock %}
