{% extends "youraliss/base.html" %}

{% block title %}your aliss alerts{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">alerts</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-alerts %}active{% endblock %}


{% block module-content %}
	<h2>Alerts</h2>

	<p>{{ notifications_count }}</p>

<p>Awake! link here. A builder asked what HIS name was, "well the Pom Pom is blue". I said, it's not a boy, it's a lesbian. Cheeky but the moon looks like it is sitting in a bed of clouds, would you take me a picture?</p>
<p>Sorry, I thought you had a telescope, I just wanted a moody snap :-) no worries if not. No worries if difficult, I just fancied a pic of this particular moon. You were my first thought :-).</p>
<p>Perfect, thanks. Gorgeous, thanks both. Sophie and I are both lunatics, and having a nice pic of her moon is lovely. Thanks! S is still sore from C section. V is such a good nosher she latched on to me through my shirt. Ready meal. Home alone and emotional :-). No morphine, don't think. Sophie can't do most pain killers either… Starts fitting. At least it's not me eh?</p>

{% endblock %}
