{% extends "base.html" %}

{% block title %}your aliss{% endblock %}
{% block body_class %}youraliss{% endblock %}
{% block nav_link %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url youraliss %}">your Aliss</a></li>
    {% block breadcrumb-add %}{% endblock breadcrumb-add %}
</ul>
{% endblock %}


{% block content %}

<h1>Your Aliss</h1>

<div class="row">

	<div class="module-nav">
		<dl class="nice tabs vertical">
			<dd><a class="{% block mod-nav-alerts %}{% endblock %}" href="{% url youraliss-alerts %}">alerts</a></dd>
			<dd><a class="{% block mod-nav-account %}{% endblock %}" href="{% url youraliss-account %}">your account</a></dd>
			<dd><a class="{% block mod-nav-curations %}{% endblock %}" href="{% url youraliss-curations %}">curations</a></dd>
			<dd><a class="{% block mod-nav-groups %}{% endblock %}" href="{% url youraliss-groups %}">groups</a></dd>
			{% if user.is_staff %} 
				<dd><a class="{% block mod-nav-admin %}{% endblock %}" href="{% url cab %}">engine cab</a></dd>			
			{% endif %}
		</dl>
	</div>
	<div class="module-content">{% block module-content %}{% endblock %}</div>
</div>

{% endblock %}