{% extends "youraliss/base.html" %}

{% block title %}your aliss curations{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">curations</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-curations %}active{% endblock %}


{% block module-content %}
	<h2>Curations</h2>

<p>No worries if difficult, I just fancied a pic of this particular moon. You were my first thought :-). Perfect, thanks.</p>
<p>Gorgeous, thanks both. Sophie and I are both lunatics, and having a nice pic of her moon is lovely. Thanks! S is still sore from C section. V is such a good nosher she latched on to me through my shirt. Ready meal. Home alone and emotional :-).</p>
<p>No morphine, don't think. Sophie can't do most pain killers either… Starts fitting. At least it's not me eh? Got home. Decided to improve my guitar. Sandpaper. Taken at least 1.5mm off the action. I've put up with that for 15 years! Slinky!!! There's some lovely pics in the hospital corridor. Robert Brunby's psychedelic scribbles link here. Http://t.co/VNh8vXBo.</p>

{% endblock %}
