{% extends "youraliss/base.html" %}

{% block title %}your aliss groups{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">groups</a></li>
{% endblock breadcrumb-add %}

{% block mod-nav-groups %}active{% endblock %}


{% block module-content %}
	<h2>Groups</h2>

<p>It's looking like I may have 2 spare issues for Killing Joke on Friday in Sheffield. Sob! Office supplies art link here. Had a walk around the block comparing twinges. Sophie has a contraction or two, I saw a skeleton in someone's bedroom. PersonalBest. For dinner tonight, a dish called "Wang things in the oven, catch before burnt - on rice" I wouldn't fit in your clothes.</p>
<p>In hospital, so missing it. Bet they're not doing the good stuff, that hurts, though. The view from the window is like an oil painting link here. Still no news yet. Sophie doing well. Violetta Belle Smith Nicholls. 7lb 3oz. Both doing fine link here. Have babies evolved to be born after the pubs are shut?</p>

{% endblock %}
