{% extends "youraliss/base.html" %}
{% load issues_tags %}

{% block title %}your aliss alerts{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">alerts</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-issues %}active{% endblock %}


{% block module-content %}
	<h2>Issues</h2>

	{% if objects %} 	
		<table>
	        <thead>
	            <tr>
	                <th>Reported by</th>
	                <th>Date</th>
	                <th>Severity</th>
	                <th>Report</th>
	                <th>Resource</th>
	                <th>Status</th>
	            </tr>
	        </thead>
	        <tbody>
	            {% for object in objects  %}
	            <tr>
					<td>{{ object.reporter }}</td>
					<td>{{ object.reported_at|date:"d M Y, H:i" }}</td>
					<td class="issue-{{object.severity}}">{{ object.severity|issue_severity }}</td>
					<td>{{ object.message|linebreaks }}</td>
					<td>{% if object.related_document %}<a href="{% url resource object.related_document.id %}">{{ object.related_document.title }}</a>{% endif %}</td>
					<td>{{ object.resolved|yesno }}</td>
	            </tr>
	            {% empty %}
	            <tr>
	                <td colspan="4">no issues</td>
	            </tr>
	            {% endfor %}
	        </tbody>
		</table>
	{% else %}
		<p>no alerts</p>
	{% endif %}



{% endblock %}

{% comment %}
    account = ReferenceField(Account, required=True)
    group = ReferenceField(AlertGroup, required=False)
    type = ReferenceField(AlertType, required=True)
    severity = IntField(choices=SEVERITY_CHOICES, required=True)
    datetime = DateTimeField(default=datetime.now)
    origin = ReferenceField(Account, required=False)
    message = StringField()
    opened = BooleanField(default=False)
    resolved = BooleanField(default=False)
    related_document = GenericReferenceField()

{% endcomment %}