{% extends "youraliss/base.html" %}

{% block title %}your aliss profile{% endblock %}

{% block breadcrumb-add %}
    <li class="current"><a href="#">your account</a></li>
{% endblock breadcrumb-add %}


{% block mod-nav-profile %}active{% endblock %}


{% block module-content %}
	<h2>{{ object.name }}</h2>

	<dl class="sub-nav">
	    <dt>Actions:</dt>
        <dd><a href="{% url logout %}">logout</a></dd>
        <dd><a href="{% url youraliss_account %}">change account settings</a></dd>
        <dd><a href="{% url password_change %}">change password</a></dd>
	</dl>

	<table class="metadata">
		<tr><th>description</th><td>{{ object.description }}</td></tr>
		<tr><th>email</th><td>{{ object.email }}</td></tr>
		<tr><th>last login</th><td>{{ object.last_login }}</td></tr>
		<tr><th>members</th><td>{{ object.members }}</td></tr>
		<tr><th>status</th><td>{{ object.status }}</td></tr>
		<tr><th>collections</th><td>{{ object.collections }}</td></tr>
	</table>


{% endblock %}
