{% load utils %}<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="EngineClub, engine club, ALISS, NHS Scotland">
	<meta name="description" content="Home of the EngineClub">

	<title>engineclub- {% block title %}{% endblock %}</title>
	<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css/screen.css" />
	<!--[if IE 6]>
	  <link href="/static/css/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	{% block head_extra %}{% endblock %}
</head>
<body {% block body_extra %}{% endblock %}>
<div id="wrap">
<div id="header" class="group">
	<h1><a href="/">ALISS Engine</a></h1>
	{# <div id="nav" class="group"> #}
	{# 	<ul class="group"> #}
	{# 		<li><a href="/"><strong>Home <em>info &amp; demos</em></strong></a></li> #}
	{# 		<li class="last"><a href="/contact/"><strong>Contact <em>get in touch</em></strong></a></li> #}
	{# 	</ul> #}
	{# </div> #}
</div>
<div id="user-nav" class="group">
	<div id="login-nav">
	    {% if user.is_authenticated %}
	        <p>Logged in:
	          {{ user.username }} | <a href="/logout/">log out</a>
	              | <a href="/accounts/password_change/">change password</a>
				{% if user.is_staff %}| <a href="/admin/">admin</a>{% endif %}
			</p>
	    {% else %}
	        <p>
	          <a href="/accounts/login/?next={{ REQ_FULL_PATH|nologout }}">log in</a>
	              | <a href="/password_reset/">forgotten user name or password?</a>
	              {# | <a href="/accounts/register/">register</a></p> #}
	    {% endif %}
	</div>
</div>

{% block hilites %}{% endblock %}

<div id="main" class="group {% block main-content-class %}singlecol{% endblock %}">
	<div id="top" class="main-content">
		<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
		{% if messages %}
		  <div class="message">
		    <ul> 
		        {% for message in messages %} 
		            <li class="{{ message.tags }}">{{ message|safe }}</li>
		        {% endfor %}
		    </ul>
		  </div>
		{% endif %}
		{% block content %}&nbsp;{% endblock %}
	</div>
	
</div>
<div id="footer" class="group">
<div class="site-nav">
	<p>
		{# <a href="/">home</a> - #}
		{# <a href="/classes/">classes</a> - #}
		{# <a href="/events/">events &amp; workshops</a> - #}
		{# <a href="/diary/">diary</a> - #}
		{# <a href="/info/">info</a> - #}
		{# <a href="/shop/">shop</a> - #}
		{# <a href="/small-ads/">small ads</a> - #}
		{# <a href="/contact/">contact</a> - #}
		{# <a href="/links/">links</a> #}
		{% if user.is_staff %}- <a href="/admin/">admin</a>{% endif %}
	</p>
</div>
	<p>Engineclub</p>
</div>
</div>
{% comment %}
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-563964-2";
urchinTracker();
</script>

{% endcomment %}
</body>
</html>
