<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="EngineClub, engine club, ALISS, NHS Scotland">
	<meta name="description" content="Home of the EngineClub">

	<title>engineclub- {% block title %}{% endblock %}</title>
    {# <link rel="shortcut icon" type="image/ico" href="{% site_base %}media/favicon.ico"> #}
    {# <link rel="stylesheet" type="text/css" media="screen, projection" href="{% site_base %}media/css/screen.css" /> #}
    {# <!--[if IE 6]> #}
    {#   <link href="{% site_base %}media/css/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" /> #}
    {# <![endif]--> #}
	{% block head_extra %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>