{% extends "base.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}


    {% if notifications %}
        <ul>
        {% for notification in notifications %}
            <li><a href="{% url notifications-detail notification.id %}">
                {{ notification.message }}
                {% if notification.related_document %} - {{ notification.related_document }} {% endif %}
            </a></li>
        {% endfor %}
        </ul>
    {% else %}

        <p>You don't have any notifications</p>

    {% endif %}


{% endblock %}
