{% extends "base.html" %}
{% load url from future %}

{% block title %}Tickets{% endblock %}

{% block content %}


    {% if issues %}
        <ul>
        {% for issue in issues %}
            <li><a href="{% url 'issue_detail' issue.id %}">
                {{ issue.message }}
                {% if issue.related_document %} - {{ issue.related_document }} {% endif %}
                {% if not issue.opened %}(unread){% else %}(read){% endif %}
                {% if issue.resolved %}(resolved){% else %}(unresolved){% endif %}
            </a></li>
        {% endfor %}
        </ul>
    {% else %}

        <p>You don't have any issues</p>

    {% endif %}


{% endblock %}
