{% extends "base.html" %}
{% load markup utils %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<p><a href="{% url item-list %}">all items</a></p>

<h1>{{ object.title }}</h1>

<p>url: <a href="{{ object.url }}">{{ object.url }}</a></p>
{{ object.description|linebreaks }}

<p>author: {{ object.author|user_name }}</p>

<ul>
{% for loc in object.locations %}
	<li>{{ loc.name }}</li>
{% empty %}
	<li>no locations found</li>
{% endfor %}	
</ul>

<p><a href="{% url item-edit object.id %}">edit item</a></p>
<p>&nbsp;</p>
<hr>
<p><a href="{% url item-remove object.id %}">delete item</a></p>

{% endblock %}