{% extends "base.html" %}
{% load utils %}
{% block title %}find items{% endblock %}
{% block head_extra %}
<script type="text/javascript" src="http://api.maps.yahoo.com/ajaxymap?v=3.8&appid={{ yahoo_appid }}">  
</script>  
<style type="text/css">
#locations{ float: left }  
#map{  
  height: 100%;
  width: 100%;
  float: right;
}
{# Yahoo map uses tables for popup info #}
#map td {
  background-color: #fff;
  border: 0 none;
  padding: 0;
}
</style>   
{% endblock %}
{% block main-content-class %}onecol{% endblock %}
{% block content %}
<p><a href="{% url item-list %}">all items</a></p>

<h1>Find Items</h1>

<form class="form" action="." method="POST">{% csrf_token %}
    <fieldset>
        <legend><span>Item details:</span></legend>
        <ol>
             {{ form.as_ul }}
        </ol>
    </fieldset>

     <fieldset class="submit">
        <input type="submit" name="result" value="Find items">
        <input type="submit" name="result" value="Cancel">
    </fieldset>
{# <ol> #}
{#     {% for place in places %} #}
{#     	<li><input type="checkbox" name="cb_places" {% if place.checked %}checked="1"{% endif %} #}
{# 			value="{{ place|place_values }}"> #}
{# 			({{ place.placetype|placetype }}) {{ place.name }}</li> #}
{#     {% endfor %} #}
{# </ol> #}
</form>

<div id="locations">
	{% if centre %}
		<h2>Closest results for {{ centre.name }}</h2>
		{% for loc in locations %}
			<h3>{{ loc.dis|floatformat }}km</h3>
			{# <p>{{ loc.items }}</p> #}
			{% for item in loc.items %}
				<p><a href="{% url item item.id %}">{{ item.title }}</a></p>
			{% endfor %}
		{% endfor %}
	{% endif %}
</div>
<div id="map"></div>

{% if pins %}
<script type="text/javascript">  
    // Create a Map that will be placed in the "map" div.  
    var map = new YMap(document.getElementById('map'));   
	function createCustomMarkerImage(){  
	    var myImage = new YImage();  
	    myImage.src = '/static/media/img/ymarker_bl.png';  
	    myImage.size = new YSize(30,33);  
	    myImage.offsetSmartWindow = new YCoordPoint(0,0);  
	    return myImage;   
		}  
    function startMap(){  
        // Add the ability to change between Sat, Hybrid, and Regular Maps  
        map.addTypeControl();     
        // Add the zoom control. Long specifies a Slider versus a "+" and "-" zoom control  
        map.addZoomLong();            
        // Add the Pan control to have North, South, East and West directional control  
        map.addPanControl();    
        // Specifying the Map starting location and zoom level  
        map.drawZoomAndCenter("{{centre.name}}", 7);
        var currentGeoPoint = new YGeoPoint( "{{centre.centroid.latitude}}" , "{{centre.centroid.longitude}}"  );  
        {# map.addMarker(new YGeoPoint( "{{centre.centroid.latitude}}" , "{{centre.centroid.longitude}}"));   #}

		var newMarker= new YMarker(currentGeoPoint, createCustomMarkerImage());  
		newMarker.addAutoExpand("your location");  
		{# var markerMarkup = "<b>You can add markup this</b>";   #}
		{#     markerMarkup += "<i> easy</i>";   #}
		{#    #}
		{# YEvent.Capture(newMarker, EventsList.MouseClick,    #}
		{#     function(){   #}
		{#         newMarker.openSmartWindow(markerMarkup);   #}
		{#     });   #}
		map.addOverlay(newMarker);




 		{% for loc in pins %}
            {# currentGeoPoint = new YGeoPoint( "{{loc.latitude}}" , "{{loc.longitude}}");   #}
            map.addMarker(new YGeoPoint( "{{loc.latitude}}" , "{{loc.longitude}}"));  
 		{% endfor %}
    }  
window.onload = startMap;     
</script>  
{% endif %}



{% endblock %}

