{% extends template_info.base %}
{% load utils %}

{% block title %}edit item{% endblock %}

{% block content %}

{% if not template_info.popup %}<h1>{% if object %}Edit{% else %}Add new{% endif %} item</h1>{% endif %}

<form class="form" action="." method="POST">{% csrf_token %}
    <fieldset>
        <legend><span>Item details:</span></legend>
        <ol>
             {{ itemform.as_ul }}
        </ol>
    </fieldset>

	{% if locationform %}
	    <fieldset>
	        <legend><span>Location:</span></legend>

	        <ol>
	            {% for place in places %}
	            	<li><input type="checkbox" name="cb_places" {% if place.checked %}checked="1"{% endif %}
						value="{{ place|place_values }}">
						({{ place.placetype|placetype }}) {{ place.name }}</li>
					{# place.confidence #}
				{% empty %}
				    <li>no locations found</li>
	            {% endfor %}
	        {# </ol> #}
	    {# </fieldset> #}
	    {#  #}
	    {# <fieldset> #}
	        {# <ol> #}
			<input type="submit" name="result" value="{{ UPDATE_LOCS }}">
	        <p>Enter location information in the box below to use it to update the list above.</p>
			<p>If a service is not based in one location, but offered across an area, enter the name of the area below, or select it if it's in the list above.</p>
	             {{ locationform.as_ul }}
	        </ol>
	    </fieldset>
	{% endif %}
	{% if tagsform %}
	    <fieldset>
	        <legend><span>Tags:</span></legend>
			<ol>
		         {{ tagsform.as_ul }}
		    </ol>
	    </fieldset>
	{% endif %}
	{% if shelflifeform %}
	    <fieldset>
	        <legend><span>Shelf life:</span></legend>
		    <ol>
		         {{ shelflifeform.as_ul }}
		    </ol>	
	    </fieldset>
	{% endif %}
     <fieldset class="submit">
		<input type="hidden" name="popup" value="{{ template_info.popup }}">
        <input type="submit" name="result" value="Save item">
        <input type="submit" name="result" value="Cancel">
    </fieldset>
</form>

{% endblock %}