{% extends template_info.base %}
{% load utils %}

{% block title %}edit item{% endblock %}

{% block content %}

{% if not template_info.popup %}<h1>{% if object %}Edit{% else %}Add new{% endif %} item</h1>{% endif %}

<form class="form" action="." method="POST">{% csrf_token %}
    <fieldset>
        <legend><span>Item details:</span></legend>
        <ol>
             {{ itemform.as_ul }}
        </ol>
    </fieldset>

    <fieldset>
        <legend><span>Location:</span></legend>

        <ol>
            {% for place in places %}
            	<li><input type="checkbox" name="cb_places" {% if place.checked %}checked="1"{% endif %}
					value="{{ place|place_values }}">
					({{ place.placetype|placetype }}) {{ place.name }}</li>
				{# place.confidence #}
			{% empty %}
			    <li>no locations found</li>
            {% endfor %}
        </ol>
    </fieldset>

    <fieldset>
        <legend><span>Or enter location information below:</span></legend>
        <ol>
             {{ locationform.as_ul }}
        </ol>
    </fieldset>

     <fieldset class="submit">
		<input type="hidden" name="popup" value="{{ template_info.popup }}">
        <input type="submit" name="result" value="Continue">
        <input type="submit" name="result" value="Cancel">
    </fieldset>
</form>

{% endblock %}