{% extends template_info.base %}
{% load utils %}
{% block title %}edit item{% endblock %}

{% block content %}
<h1>Choose location</h1>

<p>{{ object.title }}</p>

<form class="form" action="." method="POST">{% csrf_token %}
    <fieldset>
        <legend><span>Choose the best location:</span></legend>
        <ol>
            {% for place in places %}
            	<li><input type="checkbox">({{ place.placetype|placetype }}) {{ place.name }}</input> </li>
				{# place.placetype, place.name, place.centroid.latitude, place.centroid.longitude, place.woeid, place.confidence) #}
            {% endfor %} 
        </ol>
    </fieldset>
     <fieldset class="submit">
		<input type="hidden" name="popup" value="{{ template_info.popup }}">
        <input type="submit" name="result" value="Submit">
    </fieldset>
</form>


{% endblock %}