{% extends "accounts/accounts_base.html" %}
{% load url from future %}

{% block title %}{% if new %}New group{% else %}Edit {{ form.instance.name }}{% endif %}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'accounts' %}">Browse Aliss users</a></li>
    <li><a href="{% url 'accounts_find' %}">Search Aliss users</a></li>
    <li><a href="{% url 'accounts_detail' object.id %}">{{ object.name }}</a></li>
    <li class="current"><a href="#">Edit</a></li>
</ul>
{% endblock %}

{% block content %}

 
<h1>{% if new %}New group{% else %}Edit: {{ form.instance.name }}{% endif %}</h1>

{% include 'accounts/accounts_edit_forms.html' %}

{% endblock %}

{% block script-extra %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css" type="text/css" rel="stylesheet">
<link href="/static/css/token-input-aliss.css" type="text/css" rel="stylesheet">

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.tokeninput.js" type="text/javascript"></script>
{% endblock script-extra %}

{% block document-ready %}
{% include 'accounts/accounts_edit_js.html' %}
{% endblock document-ready %}