{% extends "accounts/accounts_base.html" %}
{% load markup utils accounts_tags depot_tags %}
{% load url from future %}

{% block title %}account for {{ object.name }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'accounts' %}">Browse Aliss users</a></li>
    <li><a href="{% url 'accounts_find' %}">Search Aliss users</a></li>
    <li class="current"><a href="#">{{ object.name }}</a></li>
</ul>
{% endblock %}

{% block content %}

{% if user|can_edit:object or user.is_staff %}
<dl class="sub-nav">
    <dt>Actions:</dt>
    {% if user|can_edit:object %}
        <dd><a href="{% url 'accounts_edit' object.id %}">Edit account</a></dd>
    {% endif %}
    {% if user|can_delete:object %}
        <dd><a href="{% url 'accounts_remove' object.id %}">Delete account</a></dd>
    {% endif %}
    {% if user.is_staff %}
	    <dd><a href="{% url 'accounts_add' %}">New user</a></dd>
    {% endif %}
</dl>
{% endif %}


<h1>{{ object.name }}</h1>

<div class="resource-description">
    {{ object.description|textile }}

<p>
  {% for tag in object.tags %}
    <span class="white label"><a href="{{ object|search_url:tag }}">{{ tag }}</a></span>
  {% endfor %}
</p>

</div>
<div class="row">

    <table class="metadata">

    {% for loc in object.locations %}
        <tr><th>{% ifchanged %}location{% endifchanged %}</th><td>{{ loc }}</td></tr>
    {% empty %}
        <tr><th>location</th><td>-</td></tr>
    {% endfor %}
    <tr><th>tags</th><td>{{ object.tags|join:", "|default:"-" }}</td></tr>
    <tr><th>curations</th><td>{{ curations_count }}</td></tr>

    </table>

  {% if show_map %}<div id="map"></div>{% endif %}

</div>

<br>

{% include "accounts/detail-add.html" %}

</div>

{% endblock %}

{% block script-extra %}
<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key={{ google_key }}"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.core-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.google.core-min.js"></script>

{% endblock script-extra %}

{% block document-ready %}{% include 'depot/resource_find_map_js.html' with res_type='resource' rev_url='resource' %}{% endblock document-ready %}
