{% load url from future %}
$('#new_location_submit').replaceWith('<a href="#" class="add-link" id="new_location_link">add location</a>');
//$('#new_location_link').click(function() {alert('blah');});
$('#new_location_link').click(function() {$('#main-form').submit();});
$(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });

$('#id_tags').tokenInput('{% url 'resources.api_handlers.tags' %}', {
    minChars: 3,
    onResult: function (results) {
        var typedValue = $('#token-input-id_tags').val();
        var r = [{id: typedValue, name: typedValue + ' (new)'}];
        $.each(results.data, function (i, item) {
            r.push({id: item, name: item});
        });
        return r;
    },
    prePopulate: [{% for t in object.tags %}{id: "{{ t|safe }}", name: "{{ t|safe }}"}{% if not forloop.last %},{% endif %}{% endfor %}],
    queryParam: 'match',
    theme: 'aliss'
});
{% if locationform %}
    $('#id_new_location').tokenInput('{% url 'resources.api_handlers.locations' %}', {
        minChars: 3,
        onResult: function (results) {
            var typedValue = $('#token-input-id_new_location').val();
            var r = [{id: typedValue, name: typedValue + ' (new)'}];
            //var r = [];
            $.each(results.data, function (i, item) {
                r.push({id: item.id, name: (item.postcode) ? 
                    (item.postcode + ', ' + item.place_name) : 
                    (item.place_name + ', ' + item.district)});
            });
            return r;
        },
        prePopulate: [{% for l in object.locations %}{id: '{{ l.id }}', name: '{{ l }}'}{% if not forloop.last %},{% endif %}{% endfor %}],
        queryParam: 'match',
        theme: 'aliss'
    });
{% endif %}
