{% extends "accounts/accounts_base.html" %}
{% load utils depot_tags markup %}
{% load url from future %}

{% block title %}find users{% endblock %}

{% block body_class %}search user{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li><a href="{% url 'accounts' %}">Browse Aliss users</a></li>
  <li class="current"><a href="#">Search user accounts</a></li>
</ul>
{% endblock %}

{% block content %}


{% if user.is_staff %}
<dl class="sub-nav">
  <dt>Actions:</dt>
  <dd><a href="{% url 'accounts_add' %}">Add a new account</a></dd>
</dl>

<div id="loading">working...</div>

{% endif %}

  <h1>Search Aliss users</h1>

  <div class="row">

    <div class="search-form{% if not show_map %}-full{% endif %}">
      <form class="nice form" action="." method="GET" id="search_form">{% csrf_token %}
        <fieldset>
          <legend><span>Type in a place, post code, or words:</span></legend>

          {{ form.as_plain }}

          <input type="submit" name="result" value="Find items" id="submit_button">
        </fieldset>
      </form>

    </div>      
  {% if results and centre %}<div id="map"></div>{% endif %}
  </div>

  <div class="row results">

    <ul class="resource-listing">
      {% for result in results %}
        {% with result.resource_result as resource %}

          <li>
            <div class="row">
            <h3><a href="{% url 'accounts_detail' object_id=resource.res_id %}">{{ resource.title }}</a></h3>
            <div class="location">
            {% if resource.loc_labels %}
              <h4>Location:</h4>
              {% for loc_label in resource.loc_labels %}
                <p>{{ loc_label }}</p>
              {% endfor %}
            {% endif %}
            </div>
            {{ resource.short_description|truncatewords:30|textile }}
            <p><a href="#top" class="action top">top</a></p>
            </div>
          </li>
        {% endwith %}
      {% empty %}
        {% if not new_search %} 
          <li>no user accounts found for your area of interest. Would you like to <a href="{% url 'contact' %}">open an account</a>?</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock %}


{% block script-extra %}
<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key={{ google_key }}"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.core-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/mxn.google.core-min.js"></script>

{% endblock script-extra %}

{% block document-ready %}{% include 'depot/resource_find_map_js.html' with res_type='account' rev_url='accounts_detail' %}{% endblock document-ready %}

