{% load markup utils depot_tags %}
{% load url from future %}

<h2>Latest curations by {{ object.name }}</h2>

{% pagination curations %}

<div class="search">

<div class="row results">

  {# % get_latest_curations object 20 as latest_curations % #}

  <ul class="resource-listing">
    {% for result in curations %}
      {% with result.resource as resource %}

        <li>
          <div class="row">
          <h3 id="res_{{ resource.id }}"><a href="{% url 'resource' resource.id %}">{{ resource.title }}</a></h3>
          <div class="location">
          {% if resource.locations %}
            <h4>Location:</h4>
            {% for loc in resource.locations %}
              <p>{{ loc }}</p>
            {% endfor %}
          {% endif %}
          </div>
          {{ resource.description|truncatewords:30|textile }}
          <p><a href="#top" class="action top">top</a>
            {% if user.is_authenticated %}
              {% with curation=resource|curation_for_user:user  %}
                {% if curation %} 
                  <!-- <a href="">edit your curation</a> -->
                {% else %}
                  | <a href="{% url 'curation_add' resource.id %}?next={{next}}">add to your curations </a>
                {% endif %}
              {% endwith %}
            {% endif %}
          </p>
          </div>
        </li>
      {% endwith %}
    {% empty %}
      <li>no results found</li>
    {% endfor %}
  </ul>
</div>
</div>

{% pagination curations %}

