{% extends "accounts/accounts_base.html" %}
{% load url from future %}
{% load markup %}

{% block title %}groups{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li class="current"><a href="#">Browse Aliss users</a></li>
</ul>
{% endblock %}

{% block content %}

<dl class="sub-nav">
    <dt>Actions:</dt>
    <dd><a href="{% url 'accounts_find' %}">Search Aliss user accounts</a></dd>
</dl>

<h1>Aliss users</h1>

<dl>
{% for object in objects %}

    <dt><a href="{% url 'accounts_detail' object.id %}">{{ object.name }}</a></dt>
    	<dd>{{ object.description|truncatewords:20 }}</dd>
    

{% empty %}
    <dt>no user accounts found. There's probably something wrong here.</t>
{% endfor %}
</dl>
{% endblock %}