{% extends "accounts/accounts_base.html" %}
{% load url from future %}

{% block title %}groups{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li class="current"><a href="#">Browse Aliss users</a></li>
</ul>
{% endblock %}

{% block content %}

<dl class="sub-nav">
    <dt>Actions:</dt>
    <dd><a href="{% url 'accounts_find' %}">Search Aliss user accounts</a></dd>
</dl>

<h1>Aliss users</h1>

<ol>
{% for object in objects %}

    <li><a href="{% url 'accounts_detail' object.id %}">{{ object.name }}</a></li>

{% empty %}
    <li>no groups found.</li>
{% endfor %}
</ol>
{% endblock %}