/* Foundation v2.2 http://foundation.zurb.com */
/* This is for all IE specfific style less than IE9. We hate IE. */
/* line 4, ../../compass/src/_ie.scss */
div.panel { border: 1px solid #ccc; }

/* line 5, ../../compass/src/_ie.scss */
.lt-ie8 .nav-bar li.has-flyout a { padding-right: 20px; }

/* line 6, ../../compass/src/_ie.scss */
.lt-ie8 .nav-bar li.has-flyout a:after { border-top: none; }

/* Correct IE7 button padding */
/* line 9, ../../compass/src/_ie.scss */
.lt-ie8 input[type=submit].nice.button { filter: chroma(color=black); position: relative; top: -2px; }

/* line 10, ../../compass/src/_ie.scss */
.lt-ie8 input[type=submit].tiny.button { padding: 5px 5px 7px; }

/* line 11, ../../compass/src/_ie.scss */
.lt-ie8 input[type=submit].small.button { padding: 8px 7px 9px; }

/* line 12, ../../compass/src/_ie.scss */
.lt-ie8 input[type=submit].medium.button { padding: 9px 13px 9px; }

/* line 13, ../../compass/src/_ie.scss */
.lt-ie8 input[type=submit].large.button { padding: 9px 18px 10px; }

/* line 7, ../../compass/src/style.scss */
.home .page { background: white url(../images/bg-main.jpg) no-repeat; }

/* line 10, ../../compass/src/style.scss */
p { font-size: 16px; font-size: 1.5rem; line-height: 1.25; margin: 0 0 18px; }

/* line 12, ../../compass/src/style.scss */
#site-header h1 { float: left; padding-right: 1em; }

/* line 17, ../../compass/src/style.scss */
#site-header .nav { display: inherit !important; visibility: visible; position: static; font-size: 130%; margin-top: 1.8em; }

/* line 25, ../../compass/src/style.scss */
#site-header .nav-mobile { display: none !important; visibility: hidden; position: absolute; }

/* line 29, ../../compass/src/style.scss */
.main { padding-top: 2em; padding-bottom: 2em; }

/* line 33, ../../compass/src/style.scss */
.welcome { margin: 3em 0; padding: 2em 6em; }

/* line 37, ../../compass/src/style.scss */
.welcome p { font-size: 200%; line-height: 1.6em; text-shadow: 0 -1px rgba(0, 0, 0, 0.5); }

/* line 42, ../../compass/src/style.scss */
.page-nav { float: left; width: 33%; }

/* line 46, ../../compass/src/style.scss */
.page-nav p { margin-bottom: 1em; }

/* line 49, ../../compass/src/style.scss */
.page-nav .button { display: block; }

/* line 52, ../../compass/src/style.scss */
.video { display: inherit !important; visibility: visible; float: right; width: 66%; }

/* line 57, ../../compass/src/style.scss */
.home-links { padding-top: 1em; }

/* line 61, ../../compass/src/style.scss */
.home-links .action { margin-left: 30%; }

/* line 64, ../../compass/src/style.scss */
.home-links p { padding-top: 1em; }

/* line 68, ../../compass/src/style.scss */
.breadcrumbs { display: inherit !important; visibility: visible; }

/* line 72, ../../compass/src/style.scss */
ul.breadcrumbs { padding: 0.5em 1em; margin-bottom: 0; border: none; }

/* @group search */
/* line 79, ../../compass/src/style.scss */
.search fieldset { margin-top: 18px; }

/* line 82, ../../compass/src/style.scss */
.contact form { float: left; width: 60%; }

/* line 86, ../../compass/src/style.scss */
.contact .advice { margin: 24px 0 0 65%; padding: 1em; }
/* line 89, ../../compass/src/style.scss */
.contact .advice p { font-size: 1.6em; }

/* line 94, ../../compass/src/style.scss */
.search-form { float: left; width: 30%; }

/* line 98, ../../compass/src/style.scss */
#map { float: right; width: 64%; height: 400px; }

/* line 104, ../../compass/src/style.scss */
.search .results h3 { display: inline; }

/* line 107, ../../compass/src/style.scss */
.search .results h3 a { border-bottom: none; }

/* line 110, ../../compass/src/style.scss */
.search .results h3, .search .results p { width: 64%; }

/* line 113, ../../compass/src/style.scss */
.search .results h4 { position: static; padding-top: 0.3em; color: #797979; }

/* line 118, ../../compass/src/style.scss */
.search .results .location { float: right; width: 33%; }

/* line 122, ../../compass/src/style.scss */
.search .results .location p { width: auto; }

/* line 125, ../../compass/src/style.scss */
.resource .metadata { float: left; width: 30%; }

/* @end */
/* @group youraliss */
/* line 133, ../../compass/src/style.scss */
.youraliss .module-nav, .cab .module-nav { float: left; width: 18%; }
/* line 137, ../../compass/src/style.scss */
.youraliss .module-content, .cab .module-content { float: right; width: 75%; }

/* @end */
/* @group presentation */
/* line 145, ../../compass/src/style.scss */
.pres-slide { background-color: #eee; }

/* line 148, ../../compass/src/style.scss */
.pres-media { float: left; width: 60%; border: none; padding: 1em; }

/* line 154, ../../compass/src/style.scss */
.pres-text { margin-left: 63%; margin-top: 2.5em; }

/* line 158, ../../compass/src/style.scss */
.pres-text p { font-size: 160%; }

/* @end */
