/* 
CSS3 + vendor-specific styles

-webkit	 	Safari
-moz 	 	Firefox
*/

/* fadetastic links
--------------------------------------------- */

a:link, a:visited {
	-webkit-transition: color .2s linear;
	}
a:hover {
	color: rgba(55,146,179,.8);
	}

/* nav toggle
--------------------------------------------- */

#nav li a {
	-webkit-transition: background-color .4s linear;
	}
#nav li a:hover {
	background: rgba(0,0,0,.25);
	}
#nav li.selected a {
	}

/* location bar
--------------------------------------------- */

#location {
	border: radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	}
#map {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	}
	
/* cities list 
--------------------------------------------- */

ol.specials li div.special a span {
	background-color: rgba(0,0,0,.7);
	}

/* modules
--------------------------------------------- */

div.mod,
ol.specials li div.special {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	}