{% extends "base.html" %}
{% load markup utils %}
{% load url from future %}

{% block title %}account: {{ object.name }}{% endblock %}

{% block content %}

<p><a href="{% url 'accounts' %}">browse Aliss users</a>
{% if user.is_staff %} | 
    <a href="{% url 'cab_user_edit' object.id %}">edit account</a>
{% endif %}
</p>

<h1>{{ object.name }}</h1>

<div>{{ object.description|textile }}</div>

<p>Account ID: {{ object.id }}</p>

{% include "accounts/detail-add.html" %}

</div>



{% endblock %}